header.header-ticket
    .container
        .row.justify-content-center
            .col-lg-5.col-md-6
                ul.tabs-tickets
                    li
                        a(href='' title='' data-tab='1').active Туда и обратно
                    li
                        a(href='' title='' data-tab='2') В одну сторону
                    li
                        a(href='' title='' data-tab='3') Сложный маршрут
            .col-12
                form.form-tickets
                    .form-tickets--left
                        .form-tickets--inputs.first
                            .select-container-select2.from.error
                                select.select2-select.from
                                    option
                                    optgroup(label='Киев — Украина')
                                        option Киев (Все) — Украина
                                        option Киев, Борисполь (KBP)
                                        option Киев, Жуляны (IEV)
                                    optgroup(label='Берлин — Германия')
                                        option Берлин (Все) — Германия
                                        option Берлин, Тегель (TXL)
                                        option Берлин, Schoenefeld (SXF)
                                        option Берлин, Schoenefeld-Schoenefeld (SXF)
                                a(href='' title='').button-switch
                                    img(src='img/icons/change.svg')
                            .select-container-select2.second.to
                                select.select2-select.to
                                    option
                                    optgroup(label='Киев (Все) — Украина')
                                        option Киев (Все) — Украина
                                        option Киев, Борисполь (KBP)
                                        option Киев, Жуляны (IEV)
                                    optgroup(label='Берлин (Все) — Германия')
                                        option Берлин (Все) — Германия
                                        option Берлин, Тегель (TXL)
                                        option Берлин, Schoenefeld (SXF)
                                        option Берлин, Schoenefeld-Schoenefeld (SXF)
                            .input-group.input-group-datepicker.from
                                input.datepicker(placeholder='Туда' required='')#datepicker1
                                label(for='datepicker1')
                                    include ../svgs/calendar.svg
                            .input-group.input-group-datepicker.to
                                input.datepicker(placeholder='Обратно' required='')#datepicker2
                                label(for='datepicker2')
                                    include ../svgs/calendar.svg
                            .form-tickets--passengers
                                .form-tickets--passengers-select
                                    include ../svgs/human.svg
                                    | Пассажиры
                                .form-tickets--passengers-options
                                    .form-tickets--passengers-options--option
                                        .form-tickets--passengers-options--option-description
                                            .form-tickets--passengers-options--option-description-head Младенец  (М)
                                            .form-tickets--passengers-options--option-description-text от 0 до 2 лет
                                        .form-tickets--passengers-options--option-counter
                                            .plus
                                                include ../svgs/angle-up.svg
                                            input(type='number' value='0')
                                            .minus
                                                include ../svgs/angle-down.svg
                                    .form-tickets--passengers-options--option
                                        .form-tickets--passengers-options--option-description
                                            .form-tickets--passengers-options--option-description-head Ребенок  (Р)
                                            .form-tickets--passengers-options--option-description-text от 2 до 11 лет
                                        .form-tickets--passengers-options--option-counter
                                            .plus
                                                include ../svgs/angle-up.svg
                                            input(type='number' value='0')
                                            .minus
                                                include ../svgs/angle-down.svg
                                    .form-tickets--passengers-options--option
                                        .form-tickets--passengers-options--option-description
                                            .form-tickets--passengers-options--option-description-head Юный  (Ю)
                                            .form-tickets--passengers-options--option-description-text от 12 до 24 лет
                                        .form-tickets--passengers-options--option-counter
                                            .plus
                                                include ../svgs/angle-up.svg
                                            input(type='number' value='0')
                                            .minus
                                                include ../svgs/angle-down.svg
                                    .form-tickets--passengers-options--option
                                        .form-tickets--passengers-options--option-description
                                            .form-tickets--passengers-options--option-description-head Взрослый  (В)
                                            .form-tickets--passengers-options--option-description-text от 25 до 59 лет
                                        .form-tickets--passengers-options--option-counter
                                            .plus
                                                include ../svgs/angle-up.svg
                                            input(type='number' value='0')
                                            .minus
                                                include ../svgs/angle-down.svg
                                    .form-tickets--passengers-options--option
                                        .form-tickets--passengers-options--option-description
                                            .form-tickets--passengers-options--option-description-head Пожилой  (П)
                                            .form-tickets--passengers-options--option-description-text от 60 лет
                                        .form-tickets--passengers-options--option-counter
                                            .plus
                                                include ../svgs/angle-up.svg
                                            input(type='number' value='0')
                                            .minus
                                                include ../svgs/angle-down.svg
                        .form-tickets--inputs
                            .select-container-select2.from2
                                select.select2-select.from2
                                    option
                                    optgroup(label='Киев (Все) — Украина')
                                        option Киев (Все) — Украина
                                        option Киев, Борисполь (KBP)
                                        option Киев, Жуляны (IEV)
                                    optgroup(label='Берлин (Все) — Германия')
                                        option Берлин (Все) — Германия
                                        option Берлин, Тегель (TXL)
                                        option Берлин, Schoenefeld (SXF)
                                        option Берлин, Schoenefeld-Schoenefeld (SXF)
                                a(href='' title='').button-switch
                                    img(src='img/icons/change.svg')
                            .select-container-select2.second.to2
                                select.select2-select.to2
                                    option
                                    optgroup(label='Киев (Все) — Украина')
                                        option Киев (Все) — Украина
                                        option Киев, Борисполь (KBP)
                                        option Киев, Жуляны (IEV)
                                    optgroup(label='Берлин (Все) — Германия')
                                        option Берлин (Все) — Германия
                                        option Берлин, Тегель (TXL)
                                        option Берлин, Schoenefeld (SXF)
                                        option Берлин, Schoenefeld-Schoenefeld (SXF)
                            .input-group.input-group-datepicker.from
                                input.datepicker(placeholder='Туда' required='')#datepicker3
                                label(for='datepicker3')
                                    include ../svgs/calendar.svg
                            .input-group.input-group-datepicker.to
                                input.datepicker(placeholder='Обратно' required='')#datepicker4
                                label(for='datepicker4')
                                    include ../svgs/calendar.svg
                            .form-tickets--passengers
                                .form-tickets--passengers-select
                                    include ../svgs/human.svg
                                    | Пассажиры
                                .form-tickets--passengers-options
                                    .form-tickets--passengers-options--option
                                        .form-tickets--passengers-options--option-description
                                            .form-tickets--passengers-options--option-description-head Младенец  (М)
                                            .form-tickets--passengers-options--option-description-text от 0 до 2 лет
                                        .form-tickets--passengers-options--option-counter
                                            .plus
                                                include ../svgs/angle-up.svg
                                            input(type='number' value='0')
                                            .minus
                                                include ../svgs/angle-down.svg
                                    .form-tickets--passengers-options--option
                                        .form-tickets--passengers-options--option-description
                                            .form-tickets--passengers-options--option-description-head Ребенок  (Р)
                                            .form-tickets--passengers-options--option-description-text от 2 до 11 лет
                                        .form-tickets--passengers-options--option-counter
                                            .plus
                                                include ../svgs/angle-up.svg
                                            input(type='number' value='0')
                                            .minus
                                                include ../svgs/angle-down.svg
                                    .form-tickets--passengers-options--option
                                        .form-tickets--passengers-options--option-description
                                            .form-tickets--passengers-options--option-description-head Юный  (Ю)
                                            .form-tickets--passengers-options--option-description-text от 12 до 24 лет
                                        .form-tickets--passengers-options--option-counter
                                            .plus
                                                include ../svgs/angle-up.svg
                                            input(type='number' value='0')
                                            .minus
                                                include ../svgs/angle-down.svg
                                    .form-tickets--passengers-options--option
                                        .form-tickets--passengers-options--option-description
                                            .form-tickets--passengers-options--option-description-head Взрослый  (В)
                                            .form-tickets--passengers-options--option-description-text от 25 до 59 лет
                                        .form-tickets--passengers-options--option-counter
                                            .plus
                                                include ../svgs/angle-up.svg
                                            input(type='number' value='0')
                                            .minus
                                                include ../svgs/angle-down.svg
                                    .form-tickets--passengers-options--option
                                        .form-tickets--passengers-options--option-description
                                            .form-tickets--passengers-options--option-description-head Пожилой  (П)
                                            .form-tickets--passengers-options--option-description-text от 60 лет
                                        .form-tickets--passengers-options--option-counter
                                            .plus
                                                include ../svgs/angle-up.svg
                                            input(type='number' value='0')
                                            .minus
                                                include ../svgs/angle-down.svg
                        .form-tickets--more-options
                            .form-tickets--more-options--section
                                .form-tickets--more-options--section-head
                                    .form-tickets--more-options--section-head--image
                                        include ../svgs/case.svg
                                    .form-tickets--more-options--section-head--text
                                        | Авиакомпания
                                .form-tickets--more-options--section-block
                                    ul
                                        li
                                            a(href='' title='') WizzAir
                                        li
                                            a(href='' title='') Rainair
                                        li
                                            a(href='' title='') EasyJet
                                        li
                                            a(href='' title='') Air France
                            .form-tickets--more-options--section
                                .form-tickets--more-options--section-head
                                    .form-tickets--more-options--section-head--image
                                        include ../svgs/class.svg
                                    .form-tickets--more-options--section-head--text
                                        | Класс
                                .form-tickets--more-options--section-block
                                    ul
                                        li
                                            a(href='' title='') Эконом
                                        li
                                            a(href='' title='') Премиум Эконом
                                        li
                                            a(href='' title='') Бизнес
                                        li
                                            a(href='' title='') Первый
                            .form-tickets--more-options--section
                                .form-tickets--more-options--section-head
                                    .form-tickets--more-options--section-head--image
                                        include ../svgs/time.svg
                                    .form-tickets--more-options--section-head--text
                                        | Время вылета
                                .form-tickets--more-options--section-block
                                    ul
                                        li
                                            a(href='' title='') 01:00
                                        li
                                            a(href='' title='') 02:00
                                        li
                                            a(href='' title='') 03:00
                                        li
                                            a(href='' title='') 04:00
                                        li
                                            a(href='' title='') 05:00
                                        li
                                            a(href='' title='') 06:00
                                        li
                                            a(href='' title='') 07:00
                                        li
                                            a(href='' title='') 08:00
                                        li
                                            a(href='' title='') 09:00
                                        li
                                            a(href='' title='') 10:00
                                        li
                                            a(href='' title='') 11:00
                                        li
                                            a(href='' title='') 12:00
                                        li
                                            a(href='' title='') 13:00
                                        li
                                            a(href='' title='') 14:00
                                        li
                                            a(href='' title='') 15:00
                                        li
                                            a(href='' title='') 16:00
                                        li
                                            a(href='' title='') 17:00
                                        li
                                            a(href='' title='') 18:00
                                        li
                                            a(href='' title='') 19:00
                                        li
                                            a(href='' title='') 20:00
                                        li
                                            a(href='' title='') 21:00
                                        li
                                            a(href='' title='') 22:00
                                        li
                                            a(href='' title='') 23:00
                                        li
                                            a(href='' title='') 00:00
                            .form-tickets--more-options--section
                                .form-tickets--more-options--section-head
                                    .form-tickets--more-options--section-head--image
                                        include ../svgs/time.svg
                                    .form-tickets--more-options--section-head--text
                                        | Время вылета
                                .form-tickets--more-options--section-block
                                    ul
                                        li
                                            a(href='' title='') 01:00
                                        li
                                            a(href='' title='') 02:00
                                        li
                                            a(href='' title='') 03:00
                                        li
                                            a(href='' title='') 04:00
                                        li
                                            a(href='' title='') 05:00
                                        li
                                            a(href='' title='') 06:00
                                        li
                                            a(href='' title='') 07:00
                                        li
                                            a(href='' title='') 08:00
                                        li
                                            a(href='' title='') 09:00
                                        li
                                            a(href='' title='') 10:00
                                        li
                                            a(href='' title='') 11:00
                                        li
                                            a(href='' title='') 12:00
                                        li
                                            a(href='' title='') 13:00
                                        li
                                            a(href='' title='') 14:00
                                        li
                                            a(href='' title='') 15:00
                                        li
                                            a(href='' title='') 16:00
                                        li
                                            a(href='' title='') 17:00
                                        li
                                            a(href='' title='') 18:00
                                        li
                                            a(href='' title='') 19:00
                                        li
                                            a(href='' title='') 20:00
                                        li
                                            a(href='' title='') 21:00
                                        li
                                            a(href='' title='') 22:00
                                        li
                                            a(href='' title='') 23:00
                                        li
                                            a(href='' title='') 00:00




                    .form-tickets--right
                        .form-tickets--options
                            ul
                                li
                                    .radiocheck
                                        input#checkbox1(type='checkbox' checked='')
                                        label(for='checkbox1') Прямые рейсы
                                li
                                    a(href='' title='').link-more-options
                                        span.visible Больше опций
                                        span.hidden Меньше опций
                        .form-tickets--submit
                            button(type='submit').button Поиск
