header
    .container
        .row.justify-content-center
            .col-md-5
                ul
                    li
                        a(href='' title='') В одну сторону
                    li
                        a(href='' title='') Туда и обратно
                    li
                        a(href='' title='') Сложный маршрут
            .col-12
                form.form-tickets
                    .form-tickets--left
                        .form-tickets--inputs
                            select
                                option
                                optgroup(label='Киев (Все) — Украина')
                                    option Киев, Борисполь (KBP)
                                    option Киев, Жуляны (IEV)
                                optgroup(label='Берлин (Все) — Германия')
                                    option Берлин, Тегель (TXL)
                                    option Берлин, Schoenefeld (SXF)
                            select
                                option
                                optgroup(label='Киев (Все) — Украина')
                                    option Киев, Борисполь (KBP)
                                    option Киев, Жуляны (IEV)
                                optgroup(label='Берлин (Все) — Германия')
                                    option Берлин, Тегель (TXL)
                                    option Берлин, Schoenefeld (SXF)
                            input.datepicker
                            .form-tickets--passangers
                                .form-tickets--passangers-select
                                    | 1М, 2Р, 2В, 1П
                                .form-tickets--passangers-options
                                    .form-tickets--passangers-options--option
                                        .form-tickets--passangers-options--option-head Младенец  (М)
                                        .form-tickets--passangers-options--option-text от 0 до 2 лет
                                        .form-tickets--passangers-options--option-counter
                                            .plus
                                            input(type='number')
                                            .minus
                                    .form-tickets--passangers-options--option
                                        .form-tickets--passangers-options--option-head Ребенок  (Р)
                                        .form-tickets--passangers-options--option-text от 2 до 11 лет
                                        .form-tickets--passangers-options--option-counter
                                            .plus
                                            input(type='number')
                                            .minus
                                    .form-tickets--passangers-options--option
                                        .form-tickets--passangers-options--option-head Юный  (Ю)
                                        .form-tickets--passangers-options--option-text от 12 до 24 лет
                                        .form-tickets--passangers-options--option-counter
                                            .plus
                                            input(type='number')
                                            .minus
                                    .form-tickets--passangers-options--option
                                        .form-tickets--passangers-options--option-head Взрослый  (В)
                                        .form-tickets--passangers-options--option-text от 25 до 59 лет
                                        .form-tickets--passangers-options--option-counter
                                            .plus
                                            input(type='number')
                                            .minus
                                    .form-tickets--passangers-options--option
                                        .form-tickets--passangers-options--option-head Пожилой  (П)
                                        .form-tickets--passangers-options--option-text от 60 лет
                                        .form-tickets--passangers-options--option-counter
                                            .plus
                                            input(type='number')
                                            .minus
                        .form-tickets--more-options
                            .form-tickets--more-options--section
                                .form-tickets--more-options--section-head Turkish Airlines
                                .form-tickets--more-options--section-block
                                    ul
                                        li
                                            a(href='' title='') WizzAir
                                        li
                                            a(href='' title='') Rainair
                                        li
                                            a(href='' title='') EasyJet
                                        li
                                            a(href='' title='') Air France
                            .form-tickets--more-options--section
                                .form-tickets--more-options--section-head Премиум Эконом
                                .form-tickets--more-options--section-block
                                    ul
                                        li
                                            a(href='' title='') Эконом
                                        li
                                            a(href='' title='') Премиум Эконом
                                        li
                                            a(href='' title='') Бизнес
                                        li
                                            a(href='' title='') Первый
                            .form-tickets--more-options--section
                                .form-tickets--more-options--section-head Время вылета
                                .form-tickets--more-options--section-block
                                    ul
                                        li
                                            a(href='' title='') 01:00
                                        li
                                            a(href='' title='') 02:00
                                        li
                                            a(href='' title='') 03:00
                                        li
                                            a(href='' title='') 04:00
                                        li
                                            a(href='' title='') 05:00
                                        li
                                            a(href='' title='') 06:00
                                        li
                                            a(href='' title='') 07:00
                                        li
                                            a(href='' title='') 08:00
                                        li
                                            a(href='' title='') 09:00
                                        li
                                            a(href='' title='') 10:00
                                        li
                                            a(href='' title='') 11:00
                                        li
                                            a(href='' title='') 12:00
                                        li
                                            a(href='' title='') 13:00
                                        li
                                            a(href='' title='') 14:00
                                        li
                                            a(href='' title='') 15:00
                                        li
                                            a(href='' title='') 16:00
                                        li
                                            a(href='' title='') 17:00
                                        li
                                            a(href='' title='') 18:00
                                        li
                                            a(href='' title='') 19:00
                                        li
                                            a(href='' title='') 20:00
                                        li
                                            a(href='' title='') 21:00
                                        li
                                            a(href='' title='') 22:00
                                        li
                                            a(href='' title='') 23:00
                                        li
                                            a(href='' title='') 00:00
                            .form-tickets--more-options--section
                                .form-tickets--more-options--section-head Время прилета
                                .form-tickets--more-options--section-block
                                    ul
                                        li
                                            a(href='' title='') 01:00
                                        li
                                            a(href='' title='') 02:00
                                        li
                                            a(href='' title='') 03:00
                                        li
                                            a(href='' title='') 04:00
                                        li
                                            a(href='' title='') 05:00
                                        li
                                            a(href='' title='') 06:00
                                        li
                                            a(href='' title='') 07:00
                                        li
                                            a(href='' title='') 08:00
                                        li
                                            a(href='' title='') 09:00
                                        li
                                            a(href='' title='') 10:00
                                        li
                                            a(href='' title='') 11:00
                                        li
                                            a(href='' title='') 12:00
                                        li
                                            a(href='' title='') 13:00
                                        li
                                            a(href='' title='') 14:00
                                        li
                                            a(href='' title='') 15:00
                                        li
                                            a(href='' title='') 16:00
                                        li
                                            a(href='' title='') 17:00
                                        li
                                            a(href='' title='') 18:00
                                        li
                                            a(href='' title='') 19:00
                                        li
                                            a(href='' title='') 20:00
                                        li
                                            a(href='' title='') 21:00
                                        li
                                            a(href='' title='') 22:00
                                        li
                                            a(href='' title='') 23:00
                                        li
                                            a(href='' title='') 00:00




                    .form-tickets--right
                        .form-tickets--options
                            ul
                                li
                                    .radiocheck
                                        input#checkbox1(type='checkbox').error
                                        label(for='checkbox1') Прямые рейсы
                                li
                                    a(href='' title='') Показать больше опций
                        button(type='submit').button Поиск
