header.header-ticket
    .container
        .row.justify-content-center
            .col-md-5
                ul.tabs-tickets
                    li
                        a(href='' title='').active В одну сторону
                    li
                        a(href='' title='') Туда и обратно
                    li
                        a(href='' title='') Сложный маршрут
            .col-12
                form.form-tickets
                    .form-tickets--left
                        .form-tickets--inputs
                            .select-container-select2.from
                                select.select2-select.from
                                    option
                                    optgroup(label='Киев (Все) — Украина')
                                        option Киев, Борисполь (KBP)
                                        option Киев, Жуляны (IEV)
                                    optgroup(label='Берлин (Все) — Германия')
                                        option Берлин, Тегель (TXL)
                                        option Берлин, Schoenefeld (SXF)
                                a(href='' title='').button-switch
                                    img(src='img/icons/change.svg')
                            .select-container-select2.to
                                select.select2-select.to
                                    option
                                    optgroup(label='Киев (Все) — Украина')
                                        option Киев, Борисполь (KBP)
                                        option Киев, Жуляны (IEV)
                                    optgroup(label='Берлин (Все) — Германия')
                                        option Берлин, Тегель (TXL)
                                        option Берлин, Schoenefeld (SXF)
                            .input-group.input-group-datepicker
                                label(for='datepicker')
                                    img(src='img/icons/calendar.svg')
                                input.datepicker(placeholder='Дата')#datepicker
                            .form-tickets--passengers
                                .form-tickets--passengers-select
                                    img(src='img/icons/human.svg')
                                    | Пассажиры
                                .form-tickets--passengers-options
                                    .form-tickets--passengers-options--option
                                        .form-tickets--passengers-options--option-head Младенец  (М)
                                        .form-tickets--passengers-options--option-text от 0 до 2 лет
                                        .form-tickets--passengers-options--option-counter
                                            .plus
                                            input(type='number')
                                            .minus
                                    .form-tickets--passengers-options--option
                                        .form-tickets--passengers-options--option-head Ребенок  (Р)
                                        .form-tickets--passengers-options--option-text от 2 до 11 лет
                                        .form-tickets--passengers-options--option-counter
                                            .plus
                                            input(type='number')
                                            .minus
                                    .form-tickets--passengers-options--option
                                        .form-tickets--passengers-options--option-head Юный  (Ю)
                                        .form-tickets--passengers-options--option-text от 12 до 24 лет
                                        .form-tickets--passengers-options--option-counter
                                            .plus
                                            input(type='number')
                                            .minus
                                    .form-tickets--passengers-options--option
                                        .form-tickets--passengers-options--option-head Взрослый  (В)
                                        .form-tickets--passengers-options--option-text от 25 до 59 лет
                                        .form-tickets--passengers-options--option-counter
                                            .plus
                                            input(type='number')
                                            .minus
                                    .form-tickets--passengers-options--option
                                        .form-tickets--passengers-options--option-head Пожилой  (П)
                                        .form-tickets--passengers-options--option-text от 60 лет
                                        .form-tickets--passengers-options--option-counter
                                            .plus
                                            input(type='number')
                                            .minus
                        .form-tickets--more-options
                            .form-tickets--more-options--section
                                .form-tickets--more-options--section-head Turkish Airlines
                                .form-tickets--more-options--section-block
                                    ul
                                        li
                                            a(href='' title='') WizzAir
                                        li
                                            a(href='' title='') Rainair
                                        li
                                            a(href='' title='') EasyJet
                                        li
                                            a(href='' title='') Air France
                            .form-tickets--more-options--section
                                .form-tickets--more-options--section-head Премиум Эконом
                                .form-tickets--more-options--section-block
                                    ul
                                        li
                                            a(href='' title='') Эконом
                                        li
                                            a(href='' title='') Премиум Эконом
                                        li
                                            a(href='' title='') Бизнес
                                        li
                                            a(href='' title='') Первый
                            .form-tickets--more-options--section
                                .form-tickets--more-options--section-head Время вылета
                                .form-tickets--more-options--section-block
                                    ul
                                        li
                                            a(href='' title='') 01:00
                                        li
                                            a(href='' title='') 02:00
                                        li
                                            a(href='' title='') 03:00
                                        li
                                            a(href='' title='') 04:00
                                        li
                                            a(href='' title='') 05:00
                                        li
                                            a(href='' title='') 06:00
                                        li
                                            a(href='' title='') 07:00
                                        li
                                            a(href='' title='') 08:00
                                        li
                                            a(href='' title='') 09:00
                                        li
                                            a(href='' title='') 10:00
                                        li
                                            a(href='' title='') 11:00
                                        li
                                            a(href='' title='') 12:00
                                        li
                                            a(href='' title='') 13:00
                                        li
                                            a(href='' title='') 14:00
                                        li
                                            a(href='' title='') 15:00
                                        li
                                            a(href='' title='') 16:00
                                        li
                                            a(href='' title='') 17:00
                                        li
                                            a(href='' title='') 18:00
                                        li
                                            a(href='' title='') 19:00
                                        li
                                            a(href='' title='') 20:00
                                        li
                                            a(href='' title='') 21:00
                                        li
                                            a(href='' title='') 22:00
                                        li
                                            a(href='' title='') 23:00
                                        li
                                            a(href='' title='') 00:00
                            .form-tickets--more-options--section
                                .form-tickets--more-options--section-head Время прилета
                                .form-tickets--more-options--section-block
                                    ul
                                        li
                                            a(href='' title='') 01:00
                                        li
                                            a(href='' title='') 02:00
                                        li
                                            a(href='' title='') 03:00
                                        li
                                            a(href='' title='') 04:00
                                        li
                                            a(href='' title='') 05:00
                                        li
                                            a(href='' title='') 06:00
                                        li
                                            a(href='' title='') 07:00
                                        li
                                            a(href='' title='') 08:00
                                        li
                                            a(href='' title='') 09:00
                                        li
                                            a(href='' title='') 10:00
                                        li
                                            a(href='' title='') 11:00
                                        li
                                            a(href='' title='') 12:00
                                        li
                                            a(href='' title='') 13:00
                                        li
                                            a(href='' title='') 14:00
                                        li
                                            a(href='' title='') 15:00
                                        li
                                            a(href='' title='') 16:00
                                        li
                                            a(href='' title='') 17:00
                                        li
                                            a(href='' title='') 18:00
                                        li
                                            a(href='' title='') 19:00
                                        li
                                            a(href='' title='') 20:00
                                        li
                                            a(href='' title='') 21:00
                                        li
                                            a(href='' title='') 22:00
                                        li
                                            a(href='' title='') 23:00
                                        li
                                            a(href='' title='') 00:00




                    .form-tickets--right
                        .form-tickets--options
                            ul
                                li
                                    .radiocheck
                                        input#checkbox1(type='checkbox' checked='')
                                        label(for='checkbox1') Прямые рейсы
                                li
                                    a(href='' title='').link-more-options Показать больше опций
                        .form-tickets--submit
                            button(type='submit').button Поиск
