header.header-overview
    .container
        .row
            .col-md-6
                .header-overview--top
                    .header-overview--top-text
                        h1 Италия, Римини
                        p отель «Modern Spa Hilton Luxury Resort»
                        ul.ul-stars
                            li
                                include ../svgs/star-white.svg
                            li
                                include ../svgs/star-white.svg
                            li
                                include ../svgs/star-white.svg
                            li
                                include ../svgs/star-white.svg
                            li
                                include ../svgs/star-white.svg
                    .header-overview--top-info
                        .header-overview--top-info--head
                            h4 от 15 000 грн
                        .header-overview--top-info--weather
                            ul.ul-weather
                                li
                                    img(src='img/icons/weather.svg')
                                    span +23 C
                                li
                                    img(src='img/icons/time.svg')
                                    span 09:00
                .header-overview--bottom
                    a(href='' title='').button.button-red Заказать
                    ul.tour-advantages
                        li
                            .tour-image
                                include ../svgs/calendar.svg
                            .tour-text
                                | от 7 дней
                        li
                            .tour-image
                                include ../svgs/visa.svg
                            .tour-text
                                | без визы
                        li
                            .tour-image
                                include ../svgs/star.svg
                            .tour-text
                                | 5 звезд
                        li
                            .tour-image
                                include ../svgs/food.svg
                            .tour-text
                                | all inclusive
                        li
                            .tour-image
                                include ../svgs/passive.svg
                            .tour-text
                                | пассивный
                        li
                            .tour-image
                                include ../svgs/beach.svg
                            .tour-text
                                | пляж
            .col-md-6
                img(src='img/illus/illus9.png').img-overview