header.header-faq
    .container
        .row.justify-content-center
            .col-lg-6.col-md-8
                h1 FAQ
                ul.ul-menu
                    li
                        a(href='' title='').active Виза
                    li
                        a(href='' title='') Страховка
                    li
                        a(href='' title='') Багаж
                    li
                        a(href='' title='') Оплата