header.header-blogin
    .container
        .row
            .col-12
                .header-blogin--container
                    .header-blogin--image
                        img(src='img/illus/illus25.png' title='')
                    .header-blogin--text
                        .header-blogin--text-head
                            h1 Что нужно обязательно сделать в Альпах
                        .header-blogin--text-left
                            p Автор: Имя Фамилия
                        .header-blogin--text-right
                            ul.blog-panel
                                li
                                    include ../svgs/calendar.svg
                                    | 11/11/17
                                li
                                    include ../svgs/eye.svg

                                    | 1 101