header.header-country
    .container
        .row
            .col-md-6.col-sm-6
                .header-country--top
                    .header-country--top-text
                        h1 Испания
                        h4 от 15 000 грн/неделю
                    .header-country--top-weather
                        ul.ul-weather
                            li
                                img(src='img/icons/weather.svg')
                                span +23 C
                            li
                                img(src='img/icons/time.svg')
                                span 09:00
                .header-country--bottom
                    ul.tour-advantages
                        li
                            .tour-image
                                include ../svgs/capital.svg
                            .tour-text
                                | Столица Мадрид
                        li
                            .tour-image
                                include ../svgs/visa.svg
                            .tour-text
                                | Безвизовый режим
                        li
                            .tour-image
                                include ../svgs/beach.svg
                            .tour-text
                                | Горы, море
                        li
                            .tour-image
                                include ../svgs/weather2.svg
                            .tour-text
                                | Тропический климат
            .col-md-6.col-sm-6
                img(src='img/illus/illus20.svg').img-country