#modal-thanks(style='display:none')
    .container
        .row.justify-content-center
            .col-lg-9
                .order.visible
                    img(src='img/icons/success1.svg').order-success
                    h3 Спасибо за Ваше письмо!
                    p  Наш менеджер уже спешит проверять почтовый ящик