#modal-thanks2(style='display:none')
    .container
        .row.justify-content-center
            .col-lg-9
                .order.visible
                    img(src='img/icons/success2.svg').order-success
                    h3 Спасибо за заявку
                    p  Наш менеджер свяжется с Вами в ближайшее время.