nav
    .container
        .row
            .col-6.col-md-2
                a(href='./' title='').link-logo
                    img(src='img/logo/logo.png' title='' alt='')

            .col-6.nav-mobile
                .nav-icon#menu-trigger
                    span
                    span
                    span
                    span

            .col-md-10.nav-panel
                ul.menu
                    li
                        a(href='#link4' title='').smooth Link 4
                    li
                        a(href='#link5' title='').smooth Link 5