nav
    .container
        .row
            .col-6.col-md-2
                a(href='./' title='').link-logo
                    include ../svgs/logo.svg

            .col-6.nav-mobile
                .nav-icon#menu-trigger
                    span
                    span
                    span
                    span


            .col-md-5
                ul.menu
                    li
                        a(href='tickets.html' title='') Авиабилеты
                    li
                        a(href='tours.html' title='') Туры
                    li
                        a(href='news.html' title='') Новости
                    li
                        a(href='faq.html' title='') FAQ
                    li
                        a(href='about.html' title='') О нас
                    li
                        a(href='contacts.html' title='') Контакты
            .col-md-2
                p.menu-address ул. Шота Руставели, 23  09:00 — 20:00
            .col-md-1
                ul.menu-social
                    li
                        a(href='//www.facebook.com' title='')
                            include ../svgs/facebook.svg
                    li
                        a(href='//www.instagram.com' title='')
                            include ../svgs/instagram.svg

            .col-md-2
                ul.menu-phones
                    li
                        a(href='tel:' title='') +38 (044) 501 02 36
                    li
                        a(href='tel:' title='') +38 (044) 501 02 37