.row
    .col-12
        ul.pagination
            li
                a(href='' title='').arrow
                    img(src='img/icons/angle-right-pag.svg' title='')
            li
                a(href='' title='').active 1
            li
                a(href='' title='') 2
            li
                a(href='' title='') 3
            li
                a(href='' title='') ...
            li
                a(href='' title='').arrow
                    img(src='img/icons/angle-left-pag.svg' title='')