script(type='text/javascript').
    function init() {
        var mapOptions = {
            zoom: 15,
            center: new google.maps.LatLng(50.4393844, 30.5012227),
            styles:
                [
                    {
                        "stylers": [
                            {
                                "hue": "#2c3e50"
                            },
                            {
                                "saturation": 250
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "lightness": 50
                            },
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    }
                ],
            scrollwheel: false,
            navigationControl: false,
            scaleControl: false,
            draggable: false
        };
        var mapElement = document.getElementById('map');
        var map = new google.maps.Map(mapElement, mapOptions);
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(50.4393913, 30.5030251),
            map: map,
            title: 'Agromat',
            animation: google.maps.Animation.DROP,
             icon: 'https://dev.volta.one/agromat/img/icons/mappin.svg'
        });
    }
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCghHhOudfnxm7aSYdRnLaR_Wk3-IBQox8&callback=init', async='', defer='')