.form-half-input
  display flex
  flex-wrap wrap
  flex-direction row
  justify-content space-between
  input
    flex 1 1 calc(50% - .5rem)
    max-width calc(50% - .5rem)
    +mobile()
      flex 1 1 100%
      max-width 100%

.form-call
  .input-group
    margin-bottom 5px
    +mobile()
      margin-bottom 10px

  .button
    margin 20px 0 10px
    padding 10px 0 9px
    letter-spacing: 1.4px;
    +mobile()
      margin-top 30px
      padding-top 12px
      padding-bottom 13px
      letter-spacing: 2px;

.form-questions
  position relative
  z-index 70
  .input-group
    margin-bottom 5px
    input
      background #d6e8ff
      +placeholder()
        color #2d80eb
        opacity .5
    label
      svg g
        fill #2d80eb
  .button
    max-width unset

.form-order
  display flex
  justify-content space-between
  flex-wrap wrap
  .input-group
    flex 1 1 calc(50% - 15px)
    max-width calc(50% - 15px)
    margin-bottom: 5px;
    +mobile()
      flex 1 1 100%
      max-width 100%
      margin-bottom 10px
    input
      background: #d6e8ff;
      padding-left 59px
      +placeholder()
        color #2d80eb
        opacity .5
    label
      left 20px
      svg g
        fill #2d80eb
        opacity 1
    .datepicker
      height 39px
  .button
    margin 10px 0
    max-width 100%