.radiocheck
  position relative

  input
    position absolute
    opacity 0

  input + label
    position relative
    padding-left 23px
    cursor pointer
    color $white
    font-size: $s12
    line-height: 1.07;
    margin-bottom 0
    +portrait()
      font-size $s10
    +mobile()
      font-size $s18
      padding-top 2px
      padding-bottom 6px
    &:before, &:after
      pseudo(block, absolute)
      top -1px
      left 0
      transitions()
      border-radius 50%

    &:before
      border 1px solid $white
      opacity 1
      width 14px
      height 14px
      +mobile()
        width 19px
        height 19px

    &:after
      background $white
      opacity 0
      width 6px
      height 6px
      top: 3px;
      left: 4px;
      +mobile()
        width 11px
        height 11px

  input[type='radio'] + label
    &:after, &:before
      border-radius 50%

  input:checked + label
    &:after
      opacity 1