.select2-container--default
  width: 100% !important;
  .select2-selection--single
    border 0
    border-radius 0
    height 44px
    transitions()
    +mobile()
      height 54px
    &:focus
      outline none
    .select2-selection__clear
      right 40px
    .select2-selection__rendered
      color $black
      font-size .875rem
      padding: 12px 10px 11px 20px
      line-height normal
      +mobile()
        font-size $s18
        padding-top: 15px;
        padding-bottom: 15px;
    .select2-selection__arrow
      display none

  .select2-results__options
    background #f0f6ff
    .select2-results__option
      color $black-text
      font-size $s12
      transitions()
      +mobile()
        font-size 1rem
    .select2-results__options.select2-results__options--nested
      .select2-results__option
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 2px 5px 2px 18px;
        +mobile()
          padding-top 9px
          padding-bottom 9px



  .select2-results__option--highlighted[aria-selected]
    color $black-text
    background $white

  .select2-results__option[aria-selected=true]
    background #000fcf
    color $white

  .select2-results__option.select2-results__message
    color $black-text
    font-size $s12

  .select2-search--dropdown .select2-search__field
    border none
    margin-bottom 0
    padding 0



.select2-container--default.select2-container--open.select2-container--below .select2-selection--single
  border 0

.select2-container--open
  top 0 !important

.select2-container--open .select2-dropdown--below
  border 0
  border-radius 0
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, .32);

.select2-results
  background #f0f6ff
  padding-top 7px
  padding-bottom 7px

.select2-search--dropdown
  padding: 10px 10px 12px;

.select2-container--default .select2-selection--single .select2-selection__placeholder
  font-size: $s14
  color: rgba(47, 47, 47, .5)
  display: flex;
  align-items: center;
  +mobile()
    font-size $s18
  svg
    max-width 33px
    margin-right 7px

.select2-container--default .select2-results__group
  color #4f9cff
  font-size $s12
  font-weight 400
  padding: 0px 11px;
  +mobile()
    font-size: 1rem
    padding-top 9px
    padding-bottom 9px

.select-container-select2.second
  .select2-container--default .select2-selection--single .select2-selection__rendered
    padding-left 29px
    +mobile()
      //padding-left 13px
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left 20px

  .select2-search--dropdown
    padding-left 29px
    +mobile()
      padding-left 20px

.select2-search--dropdown .select2-search__field
  +mobile()
    font-size $s18

.select2-dropdown
  border 0