@import '../../utilities/vars'
@import '../../utilities/mixins'

select
  -webkit-appearance none
  -moz-appearance none
  width 100%
  background $white
  border-radius 0
  border 0
  display block
  padding 11px 15px 12px
  margin-bottom 1rem
  transitions()
  &:focus
    outline none
    border 1px solid green

.select-container
  display block
  position relative
  margin-bottom 1rem
  width 100%
  max-width unset
  &:after
    triangle($black, down, 6px)
    top calc(50% - 3px)
    right 15px

.select-container-chosen
  &:after
    display none
    +mobile()
      display block

.select-container-select2
  position relative