/* Circe */

/* normal */

/* 100 */

/* 200 */
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe/Circe-ExtraLight.eot');
	src: url('../fonts/Circe/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Circe/Circe-ExtraLight.woff') format('woff'),
	url('../fonts/Circe/Circe-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
/* 300 */
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe/Circe-Light.eot');
	src: url('../fonts/Circe/Circe-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Circe/Circe-Light.woff') format('woff'),
	url('../fonts/Circe/Circe-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
/* 400 */
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe/Circe-Regular.eot');
	src: url('../fonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Circe/Circe-Regular.woff') format('woff'),
	url('../fonts/Circe/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* 500 */

/* 600 */

/* 700 */
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe/Circe-Bold.eot');
	src: url('../fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Circe/Circe-Bold.woff') format('woff'),
	url('../fonts/Circe/Circe-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
/* 800 */
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe/Circe-ExtraBold.eot');
	src: url('../fonts/Circe/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Circe/Circe-ExtraBold.woff') format('woff'),
	url('../fonts/Circe/Circe-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
/* 900 */

/* italic */

/* 100 */

/* 200 */

/* 300 */

/* 400 */

/* 500 */

/* 600 */

/* 700 */

/* 800 */

/* 900 */










html {
	overflow-x: hidden;
}
body {
	overflow-x: hidden;
	padding-top: 89px;
	background: #6eadff;
	font-family: 'Circe', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: #000;
	line-height: normal;
}
@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}
.position-relative {
	position: relative;
}
.text-justify {
	text-align: justify !important;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}
@media (min-width: 576px) {
	.text-sm-left {
		text-align: left !important;
	}
	.text-sm-right {
		text-align: right !important;
	}
	.text-sm-center {
		text-align: center !important;
	}
}
@media (min-width: 768px) {
	.text-md-left {
		text-align: left !important;
	}
	.text-md-right {
		text-align: right !important;
	}
	.text-md-center {
		text-align: center !important;
	}
}
@media (min-width: 992px) {
	.text-lg-left {
		text-align: left !important;
	}
	.text-lg-right {
		text-align: right !important;
	}
	.text-lg-center {
		text-align: center !important;
	}
}
@media (min-width: 1200px) {
	.text-xl-left {
		text-align: left !important;
	}
	.text-xl-right {
		text-align: right !important;
	}
	.text-xl-center {
		text-align: center !important;
	}
}
h1 {
	font-family: 'Circe', sans-serif;
	font-size: 2.5rem;
	font-weight: 900;
	color: #000;
	line-height: normal;
	margin-bottom: 2.5rem;
}
h2 {
	font-family: 'Circe', sans-serif;
	font-size: 1.875rem;
	font-weight: 700;
	color: #2d80eb;
	line-height: normal;
	margin-bottom: 27px;
	text-align: center;
}
h3 {
	font-family: 'Circe', sans-serif;
	font-size: 1.625rem;
	font-weight: 700;
	color: #2d80eb;
	line-height: 1.15;
	margin-bottom: 1.375rem;
}
h4 {
	font-family: 'Circe', sans-serif;
	font-size: 1.5rem;
	font-weight: 600;
	color: #000;
	line-height: normal;
	margin-bottom: 1.75rem;
}
h5 {
	font-family: 'Circe', sans-serif;
	font-size: 1.25rem;
	font-weight: 500;
	color: #000;
	line-height: normal;
	margin-bottom: 1.5rem;
}
h6 {
	font-family: 'Circe', sans-serif;
	font-size: 1.375rem;
	font-weight: 700;
	color: #fff;
	line-height: 1.36;
	margin-bottom: .688rem;
}
p {
	font-family: 'Circe', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: #000;
	line-height: normal;
	margin-bottom: 1.75rem;
}
hr {
	border: 0;
	height: 1px;
	background: #000;
	margin: 1em 0;
}
.black {
	color: #000;
}
.white {
	color: #fff;
}
.gray {
	color: #a9a9a9;
}
blockquote {
	padding: 1rem;
	position: relative;
}
blockquote:before {
	content: open-quote;
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	line-height: 1;
}
blockquote:after {
	content: close-quote;
	position: absolute;
	display: block;
	right: 0;
	bottom: 0;
	line-height: 1;
}
a {
	text-decoration: none;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
	outline: none;
}
.link-logo {
	display: block;
	max-width: 145px;
	max-height: 52px;
	margin: 4px 0;
}
.link-logo svg {
	width: 100%;
}
.link-logo:hover {
	opacity: .5;
}
.link-more-options {
	display: inline-block;
}
.link-more-options span {
	font-size: .875rem;
	line-height: 1.07;
	color: #241ff0;
	text-decoration: underline;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.link-more-options:hover span {
	text-decoration: none;
	color: #241ff0;
	opacity: .5;
}
.link-more-options .visible {
	display: inline-block;
}
.link-more-options .hidden {
	display: none;
}
.link-more-options.active .visible {
	display: none;
}
.link-more-options.active .hidden {
	display: inline-block;
}
.link-blog-all {
	color: #000fcf;
	font-size: 1.188rem;
	position: absolute;
	right: 15px;
	top: 9px;
}
.link-blog-all svg {
	margin-left: 9px;
	position: relative;
	top: 3px;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.link-blog-all:hover {
	color: #000fcf;
	opacity: .5;
}
.link-blog-all:hover svg {
	-webkit-transform: translateX(5px);
	    -ms-transform: translateX(5px);
	        transform: translateX(5px);
}
button {
	border: none;
	cursor: pointer;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
button:focus {
	outline: none;
}
.button {
	display: block;
	max-width: 165px;
	width: 100%;
	text-align: center;
	background: #000fcf;
	color: #fff;
	padding-top: 14px;
	padding-bottom: 14px;
	letter-spacing: 2.6px;
	font-size: 1.125rem;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.button:hover {
	color: #000fcf;
	background: #d6e8ff;
}
.button-switch {
	position: absolute;
	z-index: 9998;
	right: -17px;
	top: 9px;
}
.button-light {
	max-width: 320px;
	font-size: 1.063rem;
	font-weight: bold;
	letter-spacing: .7px;
	color: #000fcf;
	background: #d6e8ff;
}
.button-light:hover {
	background: #000fcf;
	color: #fff;
}
.button-advantage {
	margin: 89px auto 8px;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style: none;
}
ol {
	padding: 0;
	margin: 0;
}
.ul-regular li {
	padding-left: 1rem;
	position: relative;
	margin-bottom: 1rem;
}
.ul-regular li:before {
	content: '';
	display: block;
	position: absolute;
	width: 8px;
	height: 2px;
	background: #000;
	top: 9px;
	left: 0;
}
.ul-filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	margin-bottom: 1rem;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.ul-filter li {
	margin: 1rem;
}
.ul-filter li a {
	padding: 1rem;
	background: #000;
	color: #fff;
}
.ul-filter li a:hover {
	color: #000;
	background: #a9a9a9;
}
.ul-filter li .active {
	color: #000;
	background: #a9a9a9;
}
.ol-regular {
	margin-left: 1rem;
}
.ol-regular li {
	margin-bottom: 1rem;
}
.form-half-input {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.form-half-input input {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 calc(50% - .5rem);
	    flex: 1 1 calc(50% - .5rem);
	max-width: calc(50% - .5rem);
}
@media (max-width: 767px) {
	.form-half-input input {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 100%;
		    flex: 1 1 100%;
		max-width: 100%;
	}
}
.form-call .input-group {
	margin-bottom: 5px;
}
.form-call .button {
	margin: 20px 0 10px;
	padding: 10px 0 9px;
	letter-spacing: 1.4px;
}
input {
	-webkit-appearance: none;
	width: 100%;
	border: 0;
	border-radius: 0;
	padding: 11px 15px 12px;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
input:focus {
	outline: none;
	border-color: #008000;
}
input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 50px #fff !important;
	-webkit-text-fill-color: #999 !important;
}
input:-moz-placeholder {
	color: rgba(47,47,47,.5);
	font-size: .875rem;
}
input::-moz-placeholder {
	color: rgba(47,47,47,.5);
	font-size: .875rem;
}
input:-ms-input-placeholder {
	color: rgba(47,47,47,.5);
	font-size: .875rem;
}
input::-webkit-input-placeholder {
	color: rgba(47,47,47,.5);
	font-size: .875rem;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
textarea {
	-webkit-appearance: none;
	resize: none;
	margin-bottom: 1rem;
	width: 100%;
	height: 250px;
	padding: 11px 15px 12px;
}
textarea:-moz-placeholder {
	color: #a9a9a9;
}
textarea::-moz-placeholder {
	color: #a9a9a9;
}
textarea:-ms-input-placeholder {
	color: #a9a9a9;
}
textarea::-webkit-input-placeholder {
	color: #a9a9a9;
}
textarea:focus {
	outline: none;
	border-color: #008000;
}
label {
	margin-bottom: 0;
}
.input-group {
	position: relative;
}
.input-group input {
	padding: 10px 15px 11px 59px;
}
.input-group label {
	position: absolute;
	top: 9px;
	left: 20px;
}
.input-group-datepicker label {
	left: 19px;
}
.input-group-datepicker label svg g {
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.input-group-datepicker input {
	padding-left: 49px;
}
.radiocheck {
	position: relative;
}
.radiocheck input {
	position: absolute;
	opacity: 0;
}
.radiocheck input + label {
	position: relative;
	padding-left: 23px;
	cursor: pointer;
	color: #fff;
	font-size: .875rem;
	line-height: 1.07;
	margin-bottom: 0;
}
.radiocheck input + label:before, .radiocheck input + label:after {
	content: '';
	display: block;
	position: absolute;
	top: -1px;
	left: 0;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
	border-radius: 50%;
}
.radiocheck input + label:before {
	border: 1px solid #fff;
	opacity: 1;
	width: 14px;
	height: 14px;
}
.radiocheck input + label:after {
	background: #fff;
	opacity: 0;
	width: 6px;
	height: 6px;
	top: 3px;
	left: 4px;
}
.radiocheck input[type='radio'] + label:after, .radiocheck input[type='radio'] + label:before {
	border-radius: 50%;
}
.radiocheck input:checked + label:after {
	opacity: 1;
}
select {
	-webkit-appearance: none;
	   -moz-appearance: none;
	width: 100%;
	background: #fff;
	border-radius: 0;
	border: 0;
	display: block;
	padding: 11px 15px 12px;
	margin-bottom: 1rem;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
select:focus {
	outline: none;
	border: 1px solid #008000;
}
.select-container {
	display: block;
	position: relative;
	margin-bottom: 1rem;
	width: 100%;
	max-width: unset;
}
.select-container:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #000;
	top: calc(50% - 3px);
	right: 15px;
}
.select-container-chosen:after {
	display: none;
}
@media (max-width: 767px) {
	.select-container-chosen:after {
		display: block;
	}
}
.select-container-select2 {
	position: relative;
}
.select-container-select2.form, .select-container-select2.to {
	height: 44px;
}
.chosen-container {
	width: 100%;
	margin-bottom: 1rem;
	font-size: 1em;
}
.chosen-container:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #000;
	top: calc(50% - 3px);
	right: 15px;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.chosen-container:focus {
	outline: none;
}
.chosen-container .chosen-single {
	padding: 11px 15px 12px;
	height: 45px;
	border-radius: 0;
	border: 1px solid #000;
	background: #fff;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.chosen-container-single .chosen-search {
	padding: 0;
}
.chosen-container-single .chosen-search input[type='text'] {
	border: 0;
	padding: 11px 15px 12px;
	background-image: none !important;
}
.chosen-container.chosen-with-drop:after {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.chosen-container.chosen-container-active {
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.chosen-container.chosen-container-active .chosen-single {
	-webkit-box-shadow: none;
	        box-shadow: none;
	border: 1px solid #000;
	background: none;
}
.chosen-container-single .chosen-drop {
	border-radius: 0;
	border: 1px solid #000;
	border-top: 0;
	padding: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.chosen-container-single .chosen-drop .chosen-results {
	padding: 0;
	margin: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.chosen-container-single .chosen-drop .chosen-results .active-result {
	padding: 11px 15px 12px;
}
.chosen-container-single .chosen-drop .chosen-results .active-result.highlighted {
	background: #a9a9a9;
}
.chosen-container-single .chosen-single div b {
	display: none;
}
input[type='text'].error, input[type='password'].error, input[type='email'].error {
	border-color: #f00;
	color: #f00;
}
input[type='text'].error:-moz-placeholder, input[type='password'].error:-moz-placeholder, input[type='email'].error:-moz-placeholder {
	color: #f00;
}
input[type='text'].error::-moz-placeholder, input[type='password'].error::-moz-placeholder, input[type='email'].error::-moz-placeholder {
	color: #f00;
}
input[type='text'].error:-ms-input-placeholder, input[type='password'].error:-ms-input-placeholder, input[type='email'].error:-ms-input-placeholder {
	color: #f00;
}
input[type='text'].error::-webkit-input-placeholder, input[type='password'].error::-webkit-input-placeholder, input[type='email'].error::-webkit-input-placeholder {
	color: #f00;
}
input[type='text'].error:focus, input[type='password'].error:focus, input[type='email'].error:focus {
	color: inherit;
}
input[type='checkbox'].error + label {
	color: #f00;
}
input[type='radio'].error + label {
	color: #f00;
}
.select2-container--default {
	width: 100% !important;
}
.select2-container--default .select2-selection--single {
	border: 0;
	border-radius: 0;
	height: 44px;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.select2-container--default .select2-selection--single:focus {
	outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
	right: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #000;
	font-size: .875rem;
	padding: 12px 10px 11px 20px;
	line-height: normal;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	display: none;
}
.select2-container--default .select2-results__options {
	background: #f0f6ff;
}
.select2-container--default .select2-results__options .select2-results__option {
	color: #2f2f2f;
	font-size: .75rem;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.select2-container--default .select2-results__options .select2-results__options.select2-results__options--nested .select2-results__option {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	padding: 2px 5px 2px 18px;
}
.select2-container--default .select2-results__option[aria-selected=true] {
	background: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	color: #2f2f2f;
	background: #fff;
}
.select2-container--default .select2-results__option.select2-results__message {
	color: #2f2f2f;
	font-size: .75rem;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	border: none;
	margin-bottom: 0;
	padding: 0;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
	border: 0;
}
.select2-container--open {
	top: 0 !important;
}
.select2-container--open .select2-dropdown--below {
	border: 0;
	border-radius: 0;
}
.select2-results {
	background: #f0f6ff;
	padding-top: 7px;
	padding-bottom: 7px;
}
.select2-search--dropdown {
	padding: 10px 10px 12px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
	font-size: .875rem;
	color: rgba(47,47,47,.5);
}
.select2-container--default .select2-selection--single .select2-selection__placeholder img {
	max-width: 33px;
	margin-right: 7px;
}
.select2-container--default .select2-results__group {
	color: #4f9cff;
	font-size: .75rem;
	font-weight: 400;
	padding: 0 11px;
}
.select-container-select2.second .select2-container--default .select2-selection--single .select2-selection__rendered {
	padding-left: 29px;
}
.select-container-select2.second .select2-search--dropdown {
	padding-left: 29px;
}
.img-responsive {
	width: 100%;
}
.vector-plane {
	position: absolute;
	bottom: -127px;
	left: 15px;
	right: 15px;
	z-index: 1;
}
.vector-plane .plane {
	position: absolute;
	right: 13px;
	top: -113px;
}
audio {
	width: 100%;
	margin-bottom: 1rem;
}
video {
	width: 100%;
	height: 320px;
	margin-bottom: 1rem;
}
.video-youtube {
	width: 100%;
	height: 320px;
	margin-bottom: 1rem;
}
#map {
	width: 100%;
	height: 200px;
}
section {
	margin-bottom: 162px;
}
main {
	background: #fff;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
@media (max-width: 767px) {
	main {
		position: relative;
		z-index: 100;
	}
}
nav {
	background: #6eadff;
	padding: 26px 0 3px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
nav.scroll {
	padding: 4px 0;
	background: #fff;
	-webkit-box-shadow: none;
	        box-shadow: none;
	-webkit-box-shadow: 3px 4px 13px 0 rgba(47,47,47,.1);
	        box-shadow: 3px 4px 13px 0 rgba(47,47,47,.1);
}
nav.scroll .link-logo {
	max-width: 102px;
}
nav.scroll .link-logo svg g {
	fill: #6eadff;
}
nav.scroll .menu {
	padding-bottom: 0;
}
nav.scroll .menu li a {
	color: #2f2f2f;
}
nav.scroll .menu-address {
	color: #6eadff;
	padding-top: 11px;
}
nav.scroll .menu-phones {
	height: 100%;
	padding-top: 9px;
}
nav.scroll .menu-phones li a {
	color: #6eadff;
}
nav.scroll .menu-social {
	padding-top: 10px;
}
nav.scroll .menu-social li a svg g {
	fill: #6eadff;
}
.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	padding-bottom: 16px;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.menu li a {
	display: block;
	font-size: .875rem;
	color: #1a24a8;
}
.menu li a:hover {
	color: #fff;
}
.menu-address {
	color: #fff;
	font-size: .875rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 0;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.menu-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 3px 0;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.menu-social li {
	margin-left: 16px;
}
.menu-social li a {
	display: block;
}
.menu-social li a:hover {
	opacity: .5;
}
.menu-phones {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.menu-phones li a {
	color: #fff;
	display: inline-block;
	font-size: 1.125rem;
	font-weight: bold;
	letter-spacing: .6px;
	line-height: 1;
}
.menu-phones li a:hover {
	opacity: .5;
}
.nav-mobile {
	display: none;
}
@media (max-width: 767px) {
	.nav-mobile {
		display: block;
	}
}
.nav-icon {
	width: 30px;
	height: 22px;
	position: relative;
	margin: 14px 0;
	cursor: pointer;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	float: right;
}
.nav-icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #000;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.nav-icon span:nth-child(1) {
	top: 0;
}
.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
	top: 9px;
}
.nav-icon span:nth-child(4) {
	top: 18px;
}
.nav-icon.open span:nth-child(1) {
	top: 18px;
	width: 0;
	left: 50%;
}
.nav-icon.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.nav-icon.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.nav-icon.open span:nth-child(4) {
	top: 18px;
	width: 0;
	left: 50%;
}
header {
	position: relative;
}
.header-ticket {
	background: #6eadff;
}
.header-ticket:after {
	content: '';
	display: block;
	position: absolute;
	background: #6eadff;
	left: 0;
	right: 0;
	top: 100%;
	height: 137px;
}
footer {
	background: #1e2c42;
	padding-top: 60px;
}
footer p {
	color: #fff;
	font-size: .875rem;
	line-height: 1.43;
	margin-bottom: 1.25rem;
}
footer p a {
	color: #fff;
}
footer p a:hover {
	color: #80b4f8;
}
.footer-border {
	position: relative;
	padding-bottom: 31px;
}
.footer-border:after {
	content: '';
	display: block;
	position: absolute;
	background: #80b4f8;
	height: 1px;
	bottom: 0;
	left: 15px;
	right: 15px;
}
.footer-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.footer-nav li a {
	color: #80b4f8;
	font-size: .875rem;
}
.footer-nav li a:hover {
	color: #fff;
}
.footer-copyright {
	padding-top: 23px;
	padding-bottom: 27px;
}
.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	margin-bottom: 1rem;
}
.breadcrumbs li {
	position: relative;
	padding-right: 1rem;
	margin-right: 1rem;
}
.breadcrumbs li:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 1px;
	background: #000;
	-webkit-transform: rotate(25deg);
	    -ms-transform: rotate(25deg);
	        transform: rotate(25deg);
}
.breadcrumbs li:last-child:after {
	display: none;
}
.breadcrumbs li a {
	display: block;
	color: #000;
}
.breadcrumbs li a:hover {
	color: #a9a9a9;
}
.breadcrumbs li .active {
	cursor: default;
	pointer-events: none;
	color: #a9a9a9;
}
.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 25%;
	margin: 0 auto;
}
.pagination li a {
	display: block;
	color: #000;
	font-size: 1.25em;
}
.pagination li a:hover {
	color: #a9a9a9;
}
.pagination li .active {
	color: #a9a9a9;
	cursor: default;
	pointer-events: none;
}
.slick-loading .slick-list {
	background: #fff url('../img/slick/ajax-loader.gif') center center no-repeat;
}
@font-face {
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/slick/slick.eot');
	src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick/slick.woff') format('woff'), url('../fonts/slick/slick.ttf') format('truetype'), url('../fonts/slick/slick.svg#slick') format('svg');
}
.slider {
	position: relative;
	overflow: hidden;
}
.slider .arrow {
	position: absolute;
	text-align: center;
	z-index: 100;
	top: 41%;
	cursor: pointer;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.slider .arrow:hover {
	opacity: .5;
}
.slider .arrow.left {
	left: 0;
}
.slider .arrow.right {
	right: 0;
}
.slider .slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	overflow: hidden;
}
.slider .slide:focus {
	outline: none;
}
.slider .slider-counter {
	position: absolute;
	z-index: 100;
	right: 0;
	bottom: 0;
	font-size: 3em;
}
.slider .slick-dots {
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.slider .slick-dots li {
	margin: 5px;
}
.slider .slick-dots li button {
	padding: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #a9a9a9;
	color: transparent;
}
.slider .slick-dots li button:hover {
	background: #000;
	opacity: .6;
}
.slider .slick-dots .slick-active button {
	background: #000;
}
.slider-full .arrow {
	top: auto;
	bottom: 29.5%;
}
.slider-full .arrow.left {
	left: 30%;
}
.slider-full .arrow.right {
	right: 30%;
}
.slider-full .slide {
	height: 429px;
	position: relative;
}
.slider-full .slide .slide-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
.slider-full .slide .slide-image img {
	min-height: 100%;
}
.slider-full .slide .slide-description {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	text-align: center;
}
.slider-full .slide .slide-description:after {
	content: '';
	display: block;
	position: absolute;
	opacity: .4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(#00000d));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), #00000d);
	background-image:      -o-linear-gradient(top, rgba(0,0,0,0), #00000d);
	background-image:         linear-gradient(to bottom, rgba(0,0,0,0), #00000d);
	left: 0;
	right: 0;
	bottom: 0;
	height: 297px;
	z-index: -1;
}
.slider-full .slide .slide-description ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 360px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto;
}
.slider-full .slide .slide-description ul li {
	font-size: 1.875rem;
	color: #fff;
	font-weight: 700;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 50%;
	    flex: 1 1 50%;
	max-width: 50%;
}
.slider-full .slide .slide-description ul li:first-child {
	position: relative;
	padding-left: 20px;
}
.slider-full .slide .slide-description ul li:first-child:after {
	content: '';
	display: block;
	position: absolute;
	background: #fff;
	right: -3px;
	top: 7px;
	width: 2px;
	height: 27px;
}
.slider-full .slide .slide-description p {
	color: #fff;
	font-size: 1.188rem;
	margin-bottom: 11px;
}
.slider-full .slide .slide-description .button {
	margin: 0 auto 20px;
}
.fancybox-slide > div {
	width: 100%;
	max-width: 1170px;
	padding: 2rem 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.fancybox-slide > div {
		max-width: 960px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.fancybox-slide > div {
		max-width: 720px;
	}
}
@media (max-width: 576px) {
	.fancybox-slide > div {
		max-width: 540px;
	}
}
@media (max-width: 767px) {
	.fancybox-slide > div {
		max-width: calc(100% - 30px);
	}
}
.ui-tabs .ui-tabs-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.ui-tabs .ui-tabs-nav li a {
	padding: 1rem;
	display: block;
	color: #000;
}
.ui-tabs .ui-tabs-nav li a:hover {
	background: #a9a9a9;
}
.ui-tabs .ui-tabs-nav .ui-tabs-active.ui-state-active a {
	background: #000;
	color: #fff;
}
.tabs-tickets {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 18px;
}
.tabs-tickets li {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 129px;
	    flex: 1 1 129px;
	max-width: 129px;
}
.tabs-tickets li a {
	font-size: .75rem;
	color: #fff;
	line-height: 1.25;
	text-align: center;
	display: block;
	padding: 3px 2px 4px;
	border-top: 2px solid #6eadff;
	border-bottom: 2px solid #6eadff;
	background: #91c1ff;
}
.tabs-tickets li a:hover {
	background: #4a93f0;
}
.tabs-tickets li .active {
	border-radius: 4px;
	border-color: #000fcf;
	background: #000fcf;
	-webkit-box-shadow: 0 2px 13px 0 rgba(74,129,199,.7);
	        box-shadow: 0 2px 13px 0 rgba(74,129,199,.7);
}
.tabs-tickets li .active:hover {
	background: #000fcf;
}
.ui-accordion .ui-accordion-header {
	background: #a9a9a9;
	color: #000;
	cursor: pointer;
	padding: 1rem;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.ui-accordion .ui-accordion-header:focus {
	outline: none;
}
.ui-accordion .ui-accordion-header:hover {
	background: #000;
	color: #fff;
}
.ui-accordion .ui-state-active {
	background: #000;
	color: #fff;
}
.ui-accordion .ui-accordion-content {
	padding-bottom: 1rem;
}
.delimiter-input {
	margin: 0 6px 0 10px;
	display: inline-block;
}
#range-slider {
	max-width: 140px;
	border: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
	background: #f00;
	border-radius: 0;
	height: 2px;
	left: 17px;
	margin-bottom: 42px;
}
#range-slider:after {
	content: '';
	display: block;
	position: absolute;
	height: 2px;
	background: #f00;
	width: calc(100% + 24px);
	left: -17px;
	top: 0;
}
@media (max-width: 767px) {
	#range-slider {
		max-width: 265px;
		margin-bottom: 56px;
	}
}
.noUi-handle {
	-webkit-box-shadow: none;
	        box-shadow: none;
	border: none;
	background: #000;
	border-radius: 0;
}
.noUi-handle:before, .noUi-handle:after {
	display: none;
}
.noUi-handle:focus {
	outline: none;
}
.noUi-horizontal .noUi-handle {
	width: 25px;
	height: 14px;
}
.noUi-connect {
	background: #f00;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
	height: 2px;
}
.datepicker {
	height: 44px;
	padding: 10px 20px 12px;
	font-size: .875rem;
}
.datepicker:valid + label svg g {
	fill: #2f2f2f;
	opacity: 1;
}
.ui-datepicker-prev, .ui-datepicker-next {
	position: absolute;
	top: 6px;
	left: 27.5px;
}
.ui-datepicker-prev span, .ui-datepicker-next span {
	position: relative;
	font-size: 0;
	color: #fff;
	line-height: 0;
	width: 20px;
	height: 20px;
	display: block;
	cursor: pointer;
}
.ui-datepicker-prev span:before, .ui-datepicker-next span:before, .ui-datepicker-prev span:after, .ui-datepicker-next span:after {
	content: '';
	display: block;
	position: absolute;
	width: 8px;
	height: 2px;
	background: #4f9cff;
	top: 7px;
	right: 0;
}
.ui-datepicker-prev span:before, .ui-datepicker-next span:before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.ui-datepicker-prev span:after, .ui-datepicker-next span:after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	top: 12px;
}
.ui-datepicker-next {
	right: 27.5px;
	left: auto;
}
.ui-datepicker-prev span:before, .ui-datepicker-prev span:after {
	left: 0;
	right: auto;
}
.ui-datepicker-prev span:before {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.ui-datepicker-prev span:after {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	top: 12px;
}
.ui-datepicker-title {
	text-align: center;
	color: #2f2f2f;
	font-size: .75rem;
}
.ui-datepicker {
	background: #e5f0fc;
	width: 160px;
	padding-top: 8px;
	padding-bottom: 11px;
	display: none;
}
.ui-state-default {
	color: #000;
}
.ui-state-default.ui-priority-secondary {
	color: #a9a9a9;
}
.ui-datepicker-calendar {
	margin: 0 auto;
}
.ui-datepicker-calendar thead th {
	padding: 0;
}
.ui-datepicker-calendar thead th span {
	color: #4f9cff;
	font-size: .75rem;
	font-weight: 400;
	text-transform: lowercase;
}
.ui-datepicker-calendar tbody td {
	padding: 0;
}
.ui-datepicker-calendar tbody td a {
	color: #2f2f2f;
	font-size: .625rem;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 20px;
	height: 20px;
}
.ui-datepicker-calendar tbody td a:hover {
	background: #000fcf;
	color: #fff;
}
.volta {
	float: right;
	display: block;
	position: relative;
}
.volta--text {
	font-size: .625em;
	color: #bebebe;
	position: relative;
	top: -3px;
	margin-right: 5px;
}
.volta--visible svg {
	width: 62px;
}
.volta--visible svg g {
	fill: #bebebe;
}
.volta--hidden {
	position: absolute;
	right: 0;
	top: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.volta--hidden svg {
	width: 62px;
}
.volta--hidden svg g {
	fill: #7521e1;
}
.volta:hover .volta--hidden {
	height: 100%;
}
.form-tickets {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 10px;
}
.form-tickets--left {
	max-width: calc(72.75% - 9px);
	-webkit-box-flex: 1;
	-ms-flex: 1 1 calc(72.75% - 9px);
	    flex: 1 1 calc(72.75% - 9px);
}
.form-tickets--right {
	max-width: calc(27% - 9px);
	-webkit-box-flex: 1;
	-ms-flex: 1 1 calc(27% - 9px);
	    flex: 1 1 calc(27% - 9px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.form-tickets--inputs {
	display: none;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 10px;
}
.form-tickets--inputs .select-container-select2, .form-tickets--inputs .input-group-datepicker, .form-tickets--inputs .form-tickets--passengers {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 160px;
	    flex: 1 1 160px;
	max-width: 160px;
}
.form-tickets--options ul li {
	line-height: 1.4;
}
.form-tickets--more-options {
	display: none;
}
.form-tickets--more-options--section {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 160px;
	    flex: 1 1 160px;
	max-width: 160px;
	margin-right: 5px;
	margin-bottom: 10px;
}
.form-tickets--more-options--section-block {
	height: 97px;
	background: #f0f6ff;
	padding-top: 7px;
	padding-bottom: 7px;
}
.form-tickets--more-options--section-block ul li a {
	background: #f0f6ff;
	color: #2f2f2f;
	font-size: .75rem;
	display: block;
	padding: 1px 5px 2px 18px;
}
.form-tickets--more-options--section-block ul li a:hover {
	background: #fff;
}
.form-tickets--more-options--section-block ul li .active {
	background: #fff;
}
.form-tickets--more-options--section-head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	opacity: .5;
	background-color: #b6d6ff;
	padding: 10px 5px 14px 19px;
}
.form-tickets--more-options--section-head--text {
	color: #2f2f2f;
	font-size: .875rem;
}
.form-tickets--more-options--section-head--image {
	margin-right: 9px;
	height: 20px;
}
.form-tickets--more-options--section-head--image svg {
	height: 100%;
}
.form-tickets--more-options--section-head--image svg g {
	fill: #2f2f2f;
	opacity: 1;
}
.form-tickets--more-options.active {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.form-tickets--passengers {
	position: relative;
	background: #fff;
	height: 44px;
}
.form-tickets--passengers-options {
	position: absolute;
	visibility: hidden;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
	padding: 6px 0;
	background: #f0f6ff;
}
.form-tickets--passengers-options--option {
	padding-left: 13px;
	padding-top: 3px;
	padding-bottom: 5px;
	background: #f0f6ff;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.form-tickets--passengers-options--option-description {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 80%;
	    flex: 1 1 80%;
	max-width: 80%;
	padding-top: 3px;
}
.form-tickets--passengers-options--option-description-head {
	font-size: .625rem;
	color: #4f9cff;
	line-height: 1;
	margin-bottom: 4px;
}
.form-tickets--passengers-options--option-description-text {
	font-size: .75rem;
	line-height: 1;
	color: #2f2f2f;
	font-weight: 700;
}
.form-tickets--passengers-options--option-counter {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 20%;
	    flex: 1 1 20%;
	max-width: 20%;
}
.form-tickets--passengers-options--option-counter input {
	padding: 0;
	text-align: center;
	background: transparent;
	color: #2f2f2f;
	font-size: .875rem;
	display: block;
}
.form-tickets--passengers-options--option-counter .plus, .form-tickets--passengers-options--option-counter .minus {
	cursor: pointer;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
}
.form-tickets--passengers-options--option:hover {
	background: #fff;
}
.form-tickets--passengers-select {
	height: 100%;
	position: relative;
	padding: 12px 36px;
	font-size: .875rem;
	color: rgba(47,47,47,.5);
	cursor: pointer;
}
.form-tickets--passengers-select:after, .form-tickets--passengers-select:before {
	content: '';
	display: block;
	position: absolute;
	background: #4f9cff;
	width: 10px;
	height: 2px;
	right: 10px;
	top: 22px;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.form-tickets--passengers-select:after {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	right: 16px;
}
.form-tickets--passengers-select:before {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.form-tickets--passengers-select svg {
	top: 9px;
	left: 17px;
	position: absolute;
}
.form-tickets--submit {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 165px;
	    flex: 1 1 165px;
	max-width: 165px;
}
.form-tickets--submit .button {
	padding-top: 11px;
	padding-bottom: 13px;
	font-size: .875rem;
	letter-spacing: normal;
}
.form-tickets--passengers-options.active {
	visibility: visible;
	opacity: 1;
	z-index: 400;
}
.form-tickets--passengers-select.active:after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.form-tickets--passengers-select.active:before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.form-tickets--inputs.visible, .form-tickets--inputs.first {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.form-tickets.way-one .form-tickets--left {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 57.5%;
	    flex: 1 1 57.5%;
	max-width: 57.5%;
}
.form-tickets.way-one .form-tickets--right {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 39%;
	    flex: 1 1 39%;
	max-width: 39%;
}
.form-tickets.way-one .form-tickets--options {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 54%;
	    flex: 1 1 54%;
	max-width: 54%;
}
.form-tickets.way-one .form-tickets--options ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}
.form-tickets.way-one .input-group.input-group-datepicker.to {
	display: none;
}
.row-advantage {
	position: relative;
	z-index: 20;
}
.advantage-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 36px;
	margin-bottom: 14px;
}
.advantage-block--image {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 68px;
	    flex: 1 1 68px;
	max-width: 68px;
}
.advantage-block--image img {
	max-width: 68px;
}
.advantage-block--text {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 calc(100% - 68px - 29px);
	    flex: 1 1 calc(100% - 68px - 29px);
	max-width: calc(100% - 68px - 29px);
}
.advantage-block--text p {
	font-size: .875rem;
	margin-bottom: 0;
}
.blog-block {
	display: block;
}
.blog-block--image {
	height: 250px;
	margin-bottom: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.blog-block--image img {
	min-height: 100%;
}
.blog-block--text {
	height: 174px;
	overflow: hidden;
}
.blog-block--text p {
	font-size: .875rem;
	color: #2f2f2f;
}
.blog-block--panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.blog-block--panel ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 11px 0;
}
.blog-block--panel ul li {
	color: rgba(47,47,47,.5);
	font-size: .875rem;
	letter-spacing: 1px;
	margin-right: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.blog-block--panel ul li img {
	margin-right: 11px;
}
.blog-block--panel-left {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 calc(100% - 263px);
	    flex: 1 1 calc(100% - 263px);
	max-width: calc(100% - 263px);
}
.blog-block--panel-right {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 263px;
	    flex: 1 1 263px;
	max-width: 263px;
	opacity: 0;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
	visibility: hidden;
}
.blog-block:hover .blog-block--panel-right {
	opacity: 1;
	visibility: visible;
}
.blog-block:hover .blog-block--image {
	opacity: .7;
}