@import '../../utilities/vars'
@import '../../utilities/mixins'

html
  overflow-x hidden

body
  overflow-x hidden
  padding-top 89px
  background $blue-back
  font(1rem, $black, 400, normal)

+displays()
  .container
    max-width 1170px


.position-relative
  position relative