@import '../../utilities/vars'
@import '../../utilities/mixins'

html
  overflow-x hidden

body
  overflow-x hidden
  padding-top 89px
  background $blue-back
  font(1rem, $black, 400, normal)
  +mobile()
    padding-top 71px

+displays()
  .container
    max-width 1170px


.position-relative
  position relative

html.open
  +mobile()
    overflow hidden !important

body.open
  .nav-icon
    span
      &:nth-child(1)
        top 18px
        width 0%
        left 50%
      &:nth-child(2)
        transform rotate(45deg)
      &:nth-child(3)
        transform rotate(-45deg)
      &:nth-child(4)
        top 18px
        width 0%
        left 50%
  nav
    height 100%
    overflow scroll !important
    background #6eadff
    padding-bottom 0

.visible-xs
  display none
  +mobile()
    display block

//preloader
#hellopreloader_preload
  display: block;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $blue-lightback url('../img/icons/grid.svg') center center no-repeat
  background-size: 31px;