@import '../../utilities/vars'
@import '../../utilities/mixins'

blockquote
  padding 36px 130px 56px
  margin-bottom 0
  font-size: $s20
  font-weight: 300;
  line-height: 1.25;
  text-align: center;
  color: #2d80eb
  +tablet()
    padding: 36px 80px 56px;
  +portrait()
    padding: 36px 80px 56px;
  +mobile()
    padding: 36px 20px 56px;