@import '../../utilities/vars'
@import '../../utilities/mixins'

h1
  font(2.5rem, $black, 900, normal)
  margin-bottom 2.5rem

h2
  font($s30, $blue-text, 700, normal)
  margin-bottom 27px

  text-align: center;

h3
  font($s26, $blue-text, 700, 1.15)
  margin-bottom $s22


h4
  font(1.5rem, $black, 600, normal)
  margin-bottom 1.75rem

h5
  font(1.25rem, $black, 500, normal)
  margin-bottom 1.5rem

h6
  font($s22, $white, 700, 1.36)
  margin-bottom $s11


p
  font(1rem, $black, 400, normal)
  margin-bottom $s28

hr
  border: 0;
  height: 1px;
  background: $black
  margin 1em 0

.black
  color $black

.white
  color $white

.gray
  color $gray