.row-advantage
  position relative
  z-index 20

.advantage-block
  display flex
  justify-content space-between
  align-items center
  margin-top: 36px;
  margin-bottom: 14px;
  &--image
    flex 1 1 68px
    max-width 68px
    img
      max-width 68px
  &--text
    flex 1 1 calc(100% - 68px - 29px)
    max-width calc(100% - 68px - 29px)
    p
      font-size $s14
      margin-bottom 0