.blog-block
  display block
  margin-bottom 41px
  background $white
  +mobile()
    margin-bottom 100px
  &--image
    height 250px
    margin-bottom 40px
    display flex
    justify-content center
    align-items center
    overflow hidden
    transitions()
    +mobile()
      height 188px
      margin-bottom 30px
    img
      min-height 100%
  &--text
    height 174px
    overflow hidden
    +portrait()
      height 210px
    +mobile()
      //height 244px
      height auto
    p
      font-size: $s14
      color: $black-text;
      +mobile()
        font-size $s16
        line-height 1.5

  &--panel
    display flex
    justify-content space-between
    +mobile()
      flex-wrap wrap


    &-left
      flex 1 1 calc(100% - 263px)
      max-width calc(100% - 263px)
      +portrait()
        flex 1 1 55%
        max-width 55%
      +mobile()
        flex 1 1 100%
        max-width 100%
      +landscape()
        flex 1 1 50%
        max-width 50%
    &-right
      flex 1 1 263px
      max-width: 263px;
      opacity 0
      transitions()
      visibility hidden
      +portrait()
        flex 1 1 45%
        max-width 45%
        opacity 1
        visibility visible
      +mobile()
        flex 1 1 100%
        max-width 100%
        opacity 1
        visibility visible
      +landscape()
        flex 1 1 50%
        max-width 50%
      
  &:hover
    .blog-block--panel-right
      opacity 1
      visibility visible
    .blog-block--image
      opacity .7

.blog-panel
  display flex
  margin: 11px 0;
  +mobile()
    margin-bottom 40px
  li
    color rgba(47,47,47, .5)
    font-size: $s14
    letter-spacing: 1px;
    margin-right 16px
    display flex
    align-items center
    svg, img
      margin-right 11px

.share-block
  border-top: solid 1px #d6e8ff;
  text-align center
  margin 28px 0 0
  padding-top 54px
  p
    font-size: 1rem
    font-weight: 700
    letter-spacing: 2px;
    color: #d6e8ff;
    margin 0 0 25px