.form-tickets
  display flex
  justify-content space-between
  margin-bottom 20px
  +mobile()
    flex-wrap wrap
    margin-bottom 160px

  &--left
    max-width calc(72.75% - 9px)
    flex 1 1 calc(72.75% - 9px)
    +mobile()
      flex 1 1 100%
      max-width 100%
  &--right
    max-width calc(27% - 9px)
    flex 1 1 calc(27% - 9px)
    display flex
    justify-content space-between
    max-height 44px
    +portrait()
      max-width calc(28% - 9px)
      flex 1 1 calc(28% - 9px)
    +mobile()
      flex 1 1 100%
      max-width 100%
      flex-wrap wrap
      max-height unset
  &--inputs
    display flex
    justify-content space-between
    height 0
    opacity 0
    margin-bottom 0
    visibility hidden
    //transitions()

    +portrait()
      flex-wrap wrap

    +mobile()
      flex-wrap wrap

    .select-container-select2, .input-group-datepicker, .form-tickets--passengers
      flex 1 1 160px
      max-width 160px
      +tablet()
        flex 1 1 130px
        max-width: 130px;
      +mobile()
        flex 1 1 100%
        max-width 100%
        margin-bottom 10px


    .select-container-select2
      +portrait()
        flex 1 1 calc(50% - 3px)
        max-width calc(50% - 3px)
        margin-bottom 5px

    .input-group-datepicker
      +mobile()
        flex 1 1 calc(50% - 5px)
        max-width calc(50% - 5px)

  &--options
    +mobile()
      flex 1 1 100%
      max-width 100%
      padding-left 25px
      padding-top 7px
      ul
        margin-bottom 25px
    ul
      li
        line-height: 1.4;

  &--more-options
    display flex
    height 0
    opacity 0
    visibility hidden
    //transitions()
    +tablet()
      justify-content: space-between;
    +portrait()
      justify-content space-between
    +mobile()
      flex-wrap wrap
    &--section
      flex 1 1 160px
      max-width 160px
      margin-right 5px
      margin-bottom 10px
      +portrait()
        flex 1 1 calc(25% - 3px)
        max-width calc(25% - 3px)
        margin-right 0
      +mobile()
        flex 1 1 100%
        max-width 100%
        margin-right 0
      &:last-child
        margin-right: 0;
      &-block
        height 97px
        background #f0f6ff
        padding-top 7px
        padding-bottom 7px

        ul
          li
            a
              background #f0f6ff
              color $black-text
              font-size $s12
              display block
              padding: 1px 5px 2px 18px;
              +portrait()
                padding-left 10px
              +mobile()
                font-size $s18
                padding-top 13px
                padding-bottom 15px
              &:hover
                background $white
                +mobile()
                  background $trans
            .active
              background #000fcf
              color $white
              &:hover
                background #000fcf
                color $white
            &:nth-child(odd)
              a
                background $white
              .active
                background #000fcf
                color $white
                &:hover
                  background #000fcf
                  color $white

      &-head
        display flex
        align-items center
        opacity: 0.5;
        background-color: #B6D6FF
        padding: 10px 5px 14px 18px;
        +portrait()
          padding-left 10px
        +mobile()
          padding: 12px 5px 16px 18px;

        &--text
          color $black-text
          font-size: $s14
          +portrait()
            overflow hidden
            white-space: nowrap;
            text-overflow: ellipsis;
          +mobile()
            font-size $s18
        &--image
          margin-right 9px
          height 20px
          svg
            height 100%
            g
              fill $black-text
              opacity 1

  &--more-options.active
    height 151px
    margin-top 10px
    opacity 1
    visibility visible
    +mobile()
      height auto

  &--passengers
    position relative
    background $white
    height 44px
    +mobile()
      height 54px
    &-options
      position absolute
      visibility hidden
      z-index -1
      opacity 0
      transition .2s all ease
      padding 6px 0
      background #f0f6ff
      box-shadow: 0 10px 22px 0 rgba(0, 0, 0, .32);
      width 100%
      &--option
        padding-left 13px
        padding-top: 3px;
        padding-bottom 5px
        background #f0f6ff
        transitions()
        display flex
        +mobile()
          padding-right 24px
          padding-left 24px
        &-description
          flex 1 1 80%
          max-width 80%
          padding-top 3px
          &-head
            font-size $s10
            color: #4f9cff;
            line-height 1
            margin-bottom 4px
            +mobile()
              font-size 1rem
          &-text
            font-size $s12
            line-height 1
            color $black-text
            font-weight 700
            +mobile()
              font-size $s18
        &-counter
          flex 1 1 20%
          max-width 20%
          +mobile()
            display flex
            flex 1 1 30%
            max-width 30%
            flex-direction row-reverse
          input
            padding 0
            text-align center
            background $trans
            color $black-text
            font-size $s14
            display block
            +mobile()
              font-size $s18
          .plus, .minus
            cursor pointer
            text-align center
            display flex
            justify-content center
            position relative
            +mobile()
              align-items center
              svg
                width 22px
                height auto
                transform: rotate(90deg);


        &:hover
          background $white

    &-select
      height 100%
      position relative
      padding 12px 10px 12px 36px
      font-size $s14
      color rgba(47, 47, 47, .5)
      cursor pointer
      +mobile()
        font-size $s18
        padding-left: 57px;
        padding-top: 14px;
        padding-bottom 14px
      &:after, &:before
        pseudo(block, absolute)
        background $blue-lighttext
        width 10px
        height 2px
        right 10px
        top 22px
        transitions()
        +tablet()
          right 5px
        +mobile()
          top 25px
      &:after
        transform rotate(45deg)
        right 16px
        +tablet()
          right 11px
      &:before
        transform rotate(-45deg)
      label
        top: 9px;
        left: 17px;
        position absolute
        +mobile()
          left 20px
          top 12px

  &--submit
    flex 1 1 165px
    max-width 165px
    +tablet()
      flex 1 1 125px
      max-width 125px
    +portrait()
      flex 1 1 100px
      max-width 100px
    +mobile()
      flex 1 1 100%
      max-width 100%
    .button
      padding-top 11px
      padding-bottom 13px

      font-size $s14

      letter-spacing normal
      +mobile()
        max-width unset
        font-size: $s22
        font-weight: bold;
        letter-spacing: 2px;

.form-tickets--passengers-options.active
  visibility visible
  opacity 1
  z-index 400


.form-tickets--passengers-select.active
  &:after
    transform rotate(-45deg)
  &:before
    transform rotate(45deg)

.form-tickets--passengers-select.focus
  color $black-text
  font-size $s12
  display flex
  align-items center
  label
    svg g
      opacity 1



.form-tickets--inputs.visible, .form-tickets--inputs.first
  height 44px
  opacity 1
  visibility visible
  +portrait()
    height 103px
  +mobile()
    height auto

.form-tickets--inputs.visible
  margin-bottom 0


.form-tickets--inputs.first.visible
  margin-bottom 10px


.form-tickets.way-one
  .form-tickets--left
    flex 1 1 57.5%
    max-width 57.5%
    +mobile()
      flex 1 1 100%
      max-width 100%
  .form-tickets--right
    flex 1 1 39%
    max-width 39%
    +mobile()
      flex 1 1 100%
      max-width 100%
  .form-tickets--options
    flex 1 1 54%
    max-width 54%
    +tablet()
      flex 1 1 calc(100% - 155px)
      max-width calc(100% - 155px)
    +mobile()
      flex 1 1 100%
      max-width 100%
    ul
      display flex
      justify-content space-between
      align-items center
      height 100%
      +portrait()
        flex-direction column
        align-items flex-start
      +mobile()
        display block
    .radiocheck input + label
      +portrait()
        font-size .75rem
  .input-group.input-group-datepicker.to
    display none
  .form-tickets--inputs .input-group-datepicker
    +mobile()
      flex 1 1 100%
      max-width 100%


  .input-group-datepicker, .form-tickets--passengers
    +portrait()
      flex 1 1 calc(50% - 3px)
      max-width calc(50% - 3px)

.form-tickets.way-hard
  .hardway
    justify-content flex-start
    +portrait()
      justify-content space-between
    input, .select-container-select2
      margin-right 5px
      +portrait()
        margin-right 0
      +mobile()
        margin-right 0
  .input-group.input-group-datepicker.to
    display none
  .input-group-datepicker, .form-tickets--passengers
    +portrait()
      flex 1 1 calc(50% - 3px)
      max-width calc(50% - 3px)
  .form-tickets--inputs .input-group-datepicker
    +mobile()
      flex 1 1 100%
      max-width 100%
  .form-tickets--left
    flex: 1 1 57.5%;
    max-width: 57.5%;
    +mobile()
      flex 1 1 100%
      max-width 100%

  .form-tickets--right
    flex: 1 1 39%;
    max-width: 39%;
    +mobile()
      flex 1 1 100%
      max-width 100%

  .form-tickets--options
    flex 1 1 54%
    max-width 54%
    +tablet()
      flex 1 1 calc(100% - 155px)
      max-width calc(100% - 155px)
    +mobile()
      flex 1 1 100%
      max-width 100%
    ul
      display flex
      justify-content space-between
      align-items center
      height 100%
      +portrait()
        flex-direction column
        align-items flex-start
      +mobile()
        display block
    .radiocheck input + label
      +portrait()
        font-size .75rem
