.form-tour
  display flex
  justify-content space-between
  +mobile()
    flex-wrap wrap
    margin-bottom 100px
  &--left
    max-width 48.5%
    flex 1 1 48.5%
    +mobile()
      max-width 100%
      flex 1 1 100%
    +tablet()
      max-width 59.2%
      flex 1 1 59.2%
    &-inputs
      display flex
      justify-content space-between
      +mobile()
        flex-wrap wrap
      .select-container-select2, .input-group-datepicker
        flex 1 1 calc(50% - 3px)
        max-width calc(50% - 3px)
        margin-bottom 17px
        +mobile()
          max-width 100%
          flex 1 1 100%

    &-sort
      p
        font-size $s10
        line-height: 1.5;
        color $white
        opacity .5
        margin-bottom 2px
        +mobile()
          text-align center
          font-size $s18
          margin-bottom 16px
      .select-container-select2
        max-width 272px
        +mobile()
          max-width unset
          position relative
          z-index 600

  &--middle
    max-width 31.5%
    flex 1 1 31.5%
    +mobile()
      max-width 100%
      flex 1 1 100%
    +tablet()
      max-width 21%
      flex 1 1 21%
    +portrait()
      max-width 22.5%
      flex 1 1 22.5%
    ul
      display flex
      align-items center
      height 44px
      +tablet()
        flex-wrap wrap
      +portrait()
        flex-wrap wrap
      +mobile()
        flex-wrap wrap
        padding-left: 25px;
        margin-bottom 25px
      li
        margin-right 40px
        .radiocheck input + label
          font-size $s14
          +mobile()
            font-size $s18
        +tablet()
          margin-right 0
        +portrait()
          margin-right 0
        +mobile()
          flex 1 1 100%
          max-width 100%

  &--right
    max-width 165px
    flex 1 1 165px
    +mobile()
      max-width 100%
      flex 1 1 100%
      display flex
      flex-wrap wrap
    &-submit
      +mobile()
        order 2
        max-width 100%
        flex 1 1 100%
      .button
        font-size: $s14
        font-weight: bold
        letter-spacing: 0.7px
        padding-top: 11px;
        padding-bottom: 13px;
        margin-bottom 20px
        +mobile()
          max-width 100%
          font-size $s22
          letter-spacing: 2px;
    &-prices
      display flex
      flex-wrap wrap
      justify-content space-between
      +mobile()
        order 1
        max-width 100%
        flex 1 1 100%
        position relative
        padding-top 35px
      input
        text-align center
        flex 1 1 50px
        max-width 50px
        font-size: $s10
        color: #000fcf;
        padding 2px 0 0
        height: 15px
        margin-bottom 17px
        background #B6D6FF
        +mobile()
          max-width: 129px;
          flex 1 1 129px
          font-size $s18
          height 40px
          margin-bottom 25px
        +landscape()
          max-width 160px
          flex 1 1 160px
      span
        opacity: 0.5;
        font-size: $s14
        line-height: 1.5
        color $white
        position relative
        top 6px
        +mobile()
          position absolute
          left 0
          right 0
          top 0px
          text-align center
          display block
          font-size $s18

.form-tour
  &--left
    &-inputs
      .select2-container--default .select2-selection--single .select2-selection__placeholder
        padding-left 32px
        svg
          position: absolute;
          left 18px
          top 8px
    &-sort

      .select2-container--default .select2-selection--single
        background $trans

      .select2-container--default .select2-selection--single .select2-selection__rendered
        padding-top 5px
        padding-bottom: 6px
        color: #000fcf;
        background #B6D6FF
        +mobile()
          padding-top 13px
          padding-bottom 15px

      .select2-container--default .select2-selection--single
        height 31px
        +mobile()
          height 54px
          margin-bottom 20px

      .select2-container--default .select2-selection--single .select2-selection__arrow
        display block
        &:after, &:before
          pseudo(block, absolute)
          background $blue-lighttext
          width 10px
          height 2px
          right 20px
          top 15px
          transitions()
          +tablet()
            right 5px
        &:after
          transform rotate(45deg)
          right 26px
          +tablet()
            right 11px
        &:before
          transform rotate(-45deg)
        b
          display none
      .select2-container--open
        //top auto !important
        .select2-selection--single .select2-selection__arrow
          &:after
            transform rotate(-45deg)
          &:before
            transform rotate(45deg)
      .select2-dropdown.select2-dropdown--below
        top 31px !important

.form-tour--left-sort .select2-container--default .select2-selection--single .select2-selection__arrow:after, .form-tour--left-sort .select2-container--default .select2-selection--single .select2-selection__arrow:before
  +mobile()
    top 23px

.form-tour--left-sort .select2-container--default .select2-results__options .select2-results__option
  padding-left 20px
  background #B6D6FF
  &:hover
    background $blue-darkback
    color $white

.form-tour--left-sort .select2-results
  background #B6D6FF

.form-tour--left-sort .select2-container--default .select2-results__option[aria-selected=true]
  background $blue-darkback

.tour-block
  display block
  position relative
  z-index 10
  margin-bottom 35px
  &:after
    pseudo(block, absolute)
    background $white
    box-shadow: 0 3px 54px 0 rgba(0, 0, 0, 0.28);
    top -15px
    bottom auto
    left -15px
    right -15px
    z-index -1
    opacity 0
    +mobile()
      display none
  &--top
    height 220px
    position relative
    z-index 20
    margin-bottom 13px
    &-image
      position absolute
      display flex
      align-items center
      justify-content center
      overflow hidden
      top 0
      left 0
      right 0
      bottom 0
      img
        height 100%
    &-text
      position absolute
      bottom 0
      left 0
      right 0
      padding 0 16px
      &:after
        pseudo(block, absolute)
        opacity: 0.6;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #000000);
        height 110px
        left 0
        right 0
        bottom 0
        z-index 1
      h5, p
        position relative
        z-index 10
      p
        font-size $s14
        margin-bottom $s13
        color $white
      span
        position absolute
        z-index 10
        color $white
        right 11px
        bottom 9px
        font-size $s20
        img
          position relative
          left -3px
          top -1px
  &--bottom
    z-index 20
    display flex
    justify-content space-between
    &-left
      flex: 1 0 140px;
      max-width: 140px;
      +mobile()
        flex 1 1 50%
        max-width 50%
      ul
        display flex
        align-items center
        li
          font-size $s14
          color $black-text
          margin-right 15px
          +tablet()
            margin-right 10px

          &:last-child
            margin-right 0
    &-right
      display flex
      flex-wrap wrap
      text-align right
      justify-content flex-end
      +mobile()
        flex 1 1 50%
        max-width 50%
        flex-wrap wrap
      &--price-new
        font-size: $s20
        font-weight: bold;
        text-align: right;
        color: #ee5757
        display none
        +tablet()
          font-size $s16
        +mobile()
          flex 1 1 100%
          max-width 100%
          order 1
      &--price-regular
        font-size: $s20
        font-weight: bold;
        text-align: right;
        color: #4f9cff
        +tablet()
          font-size $s16
        +mobile()
          flex 1 1 100%
          max-width 100%
      &--price-old
        color $black-text
        opacity .5
        text-decoration line-through
        margin-right 6px
        position relative
        top -4px
        display none
        +tablet()
          font-size $s12
        +mobile()
          flex 1 1 100%
          max-width 100%
          text-align right
          order 2
          margin-right 0

  &--panel
    z-index -1000
    opacity 0
    visibility hidden
    position absolute
    top 100%
    left 0
    right 0
    padding-top 12px
    padding-bottom 17px
    background $white
    height 257px
    +mobile()
      display none
    &-text
      height 100px
      overflow hidden
      p
        font-size $s14
        color $black-text
    .button
      margin 0 auto
  &:hover
    z-index 100
    &:after
      bottom -259px
      opacity 1
    .tour-block--panel
      visibility visible
      z-index 10
      opacity 1

.tour-discount
  .tour-block--bottom-right--price-old
    display block
  .tour-block--bottom-right--price-new
    display block
  .tour-block--bottom-right--price-regular
    display none

.tour-advantages
  display flex
  flex-wrap wrap
  padding-bottom 11px
  li
    flex 1 1 50%
    max-width 50%
    display flex
    align-items center
    margin-bottom 2px
    .tour-image
      flex 1 1 35px
      max-width 35px
      svg g
        fill #4F9CFF
        opacity 1
    .tour-text
      font-size $s14
      color $black-text

+displays()
  .tour-block.tour-block-small
    .tour-block--panel-text
      display none
    .tour-block--panel
      height 159px
    &:hover:after
      bottom -159px


