@import '../../utilities/vars'
@import '../../utilities/mixins'

section
  margin-bottom 162px

article {}

aside {}

main
  background $white
  transitions()
  +mobile()
    position relative
    z-index 100

