@import '../../utilities/vars'
@import '../../utilities/mixins'

section
  margin-bottom 162px
  +mobile()
    margin-bottom 150px

article
  p
    color $black-text
    font-size $s14
    margin-bottom $s20
    +mobile()
      font-size $s16
      line-height: 1.75;
  h2
    margin-bottom: 47px;
  ul, ol
    margin-bottom $s20
    li
      color $black-text
      font-size $s14
  ul li
    padding-left 1rem
    position relative
    &:before
      pseudo(block, absolute)
      width 8px
      height 1px
      background $black-text
      top 9px
      left 0
  ol
    margin-left 1rem

  h3
    position relative
    font-size: $s20
    line-height: 1.25;
    text-align: center;
    color: #2d80eb
    z-index 1
    margin-bottom: $s24
    margin-top: 50px
    span
      background $white
      display inline-block
      padding 0 40px
    &:after
      pseudo(block, absolute)
      background #d6e8ff
      left 0
      right 0
      height 1px
      width 100%
      top 12px
      z-index -1

  img
    width 150%
    height auto
    margin 45px 0 15px -25%
    +portrait()
      width 120%
      margin-left -10%
    +mobile()
      width 100%
      margin-left 0

main
  background $white
  transitions()
  +mobile()
    position relative
    z-index 100

.section-how
  +mobile()
    background $white
    position relative

.section-about
  margin-bottom 100px
  background $trans

.section-contacts
  +mobile()
    background $trans

