.datepicker
  height 44px
  padding: 10px 20px 12px
  font-size $s14
  &:valid + label svg g
    fill $black-text
    opacity 1


.ui-datepicker-prev, .ui-datepicker-next
  position absolute
  top 6px
  left 27.5px
  span
    position relative
    font-size 0
    color $white
    line-height 0
    width 20px
    height 20px
    display block
    cursor pointer
    &:before, &:after
      pseudo(block, absolute)
      width 8px
      height 2px
      background $blue-lighttext
      top 7px
      right 0
    &:before
      transform rotate(45deg)
    &:after
      transform rotate(-45deg)
      top 12px


.ui-datepicker-next
  right 27.5px
  left auto


.ui-datepicker-prev span
  &:before, &:after
    left 0
    right auto
  &:before
    transform rotate(-45deg)
  &:after
    transform rotate(45deg)
    top 12px

.ui-datepicker-title
  text-align center
  color $black-text
  font-size $s12

.ui-datepicker
  background $blue-back4
  width 160px
  padding-top: 8px;
  padding-bottom 11px
  display none

.ui-state-default
  color $black

.ui-state-default.ui-priority-secondary
  color $gray

.ui-datepicker-calendar
  margin: 0 auto
  thead th
    padding 0
    span
      color $blue-lighttext
      font-size $s12
      font-weight 400
      text-transform lowercase
  tbody td
    padding 0
    a
      color $black-text
      font-size $s10
      text-align center
      display flex
      justify-content center
      align-items center
      width 20px
      height 20px
      &:hover
        background $blue-darkback
        color $white
    .ui-state-active
        background $blue-darkback
        color $white
