@import '../../utilities/vars'
@import '../../utilities/mixins'

header
  position relative

.header-ticket
  background $blue-back
  &:after
    pseudo(block, absolute)
    background $blue-back
    left 0
    right 0
    top 100%
    height 137px

.header-blog
  background $blue-back
  padding-top 25px
  &:after
    pseudo(block, absolute)
    background $blue-back
    left 0
    right 0
    top 100%
    height: 151px;
