@import '../../utilities/vars'
@import '../../utilities/mixins'

.pagination
  list-flex(row)
  justify-content space-between
  align-items center
  max-width 220px
  margin 0 auto
  +mobile()
    max-width unset
  li
    margin 0 5px
    a
      display flex
      align-items center
      justify-content center
      padding-top 2px
      width 25px
      height 25px
      color #2d80eb
      font-size 1rem
      +mobile()
        width 40px
        height 40px
        font-size $s18
      &:hover
        background #d6e8ff
    .active
      color $white
      background #000fcf
      cursor default
      pointer-events: none;
    .arrow
      padding 0
      img
        +mobile()
          height 28px