#range-slider
  flex 1 1 147px
  max-width 147px
  border 0
  box-shadow none
  background #f0f6ff
  border-radius: 7px;
  height 5px
  margin-bottom: 38px

  &:after
    pseudo(block, absolute)
    height 5px
    border-radius: 7px;
    background #B6D6FF
    width calc(100% + 17px)
    left 0
    top 0
  +mobile()
    flex 1 1 265px
    max-width 265px
    margin-bottom 36px
    margin-left: auto;
    margin-right: auto


.noUi-horizontal .noUi-handle
  border 6px solid #2d80eb;
  box-shadow: 0 1px 4px 0 rgba(14, 53, 102, 0.38);
  border-radius 50%
  background #B6D6FF

  &:before, &:after
    display none
  &:focus
    outline none

.noUi-horizontal .noUi-handle
  width: 19px;
  height: 19px;
  +mobile()
    width 30px
    height 30px
    top -13px

.noUi-connect
  background #000fcf
  border 0
  box-shadow none
  height 5px
  border-radius: 7px;

.noUi-base, .noUi-connects
  border-radius: 7px;