@import '../../utilities/vars'
@import '../../utilities/mixins'

.slick-loading .slick-list
  background: #fff url('../img/slick/ajax-loader.gif') center center no-repeat;

@font-face
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/slick/slick.eot');
  src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick/slick.woff') format('woff'), url('../fonts/slick/slick.ttf') format('truetype'), url('../fonts/slick/slick.svg#slick') format('svg');


.slider
  position relative
  .arrow
    position absolute
    text-align center
    z-index 100
    top 41%
    cursor pointer
    transitions()
    &:hover
      opacity .5

  .arrow.left
    left 0
  .arrow.right
    right 0

  .slide
    display flex
    justify-content center
    align-items center
    height 100%
    overflow hidden
    &:focus
      outline none

  .slider-counter
    position absolute
    z-index 100
    right 0
    bottom 0
    font-size 3em


  .slick-dots
    bottom -9px
    left 0
    right 0
    position absolute
    display flex
    flex-direction row
    justify-content center
    li
      margin 10px
      padding 0 !important
      &:before
        display none !important
      button
        padding 0
        width 16px
        height 16px
        border 3px solid $white
        border-radius 50%
        background #D6E8FF
        color $trans
        &:hover
          opacity .6
    .slick-active
      button
        border-color #D6E8FF

.slider-full
  .arrow
    top auto
    bottom 29.5%
    +mobile()
      bottom: 36.5%;
    img
      margin 0 !important
  .arrow.left
    left 30%
    +tablet()
      left 25%
    +portrait()
      left 20%
    +mobile()
      left 11px
  .arrow.right
    right 30%
    +tablet()
      right: 25%;
    +portrait()
      right: 20%;
    +mobile()
      right: 11px;

  .slide
    height: 429px
    position relative

    +mobile()
      height 400px
      background $white

    .slide-image
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      overflow hidden
      justify-content center
      display flex
      align-items center
      &:after
        pseudo(block, absolute)
        opacity: 0.4;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #00000d);
        left 0
        right 0
        bottom 0
        height 297px
        z-index 1
      +mobile()
        bottom auto
        height 320px
      img
        height 100%
        margin 0 !important
    .slide-description
      position absolute
      left 0
      right 0
      bottom 0
      z-index 1000
      text-align center
      ul
        display flex
        max-width 360px
        justify-content center
        margin 0 auto
        +mobile()
          flex-wrap wrap
          margin-bottom 5px
        li
          font-size $s30
          color $white
          font-weight 700
          flex 1 1 50%
          max-width 50%
          +mobile()
            flex 1 1 100%
            max-width 100%
            line-height: 1.2;
          &:first-child
            position relative
            padding-left 20px
            +mobile()
              padding-left 0
            &:after
              pseudo(block, absolute)
              background $white
              right: -3px;
              top: 7px;
              width: 2px;
              height: 27px;
              +mobile()
                display none

      p
        color $white
        font-size $s19
        margin-bottom 11px
        +mobile()
          margin-bottom 27px

      .button
        margin 0 auto 20px
        +mobile()
          max-width unset
          margin-bottom 0

.slider-gallery
  .slick-dots
    +mobile()
      display none
  .slick-list
    padding-bottom: 47px;
    +mobile()
      padding-bottom 0
  .arrow
    top: 47%;
    +mobile()
      width 100%
      max-width 130px
      background #d6e8ff
      display flex
      align-items center
      justify-content center
      height 44px
      top auto
      bottom -27px
      img
        height 22px


  .arrow.left
    left: -4.3%;
    +mobile()
      left 0
  .arrow.right
    right: -4.3%;
    +mobile()
      right 0
  .slide
    height 490px
    +mobile()
      height 340px
    .slide-image
      &:after
        display none