//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Новости

block content

    include partials/_header-blogin

    section
        article.container
            .row.justify-content-center
                .col-lg-8.col-md-10
                        h3
                            span Доломиты
                        p Патриотичные итальянцы любят повторять, что каждый человек хотя бы раз в жизни должен увидеть фантастические кремово-розовые вершины Доломитовых Альп на закате. И заодно освоить катание на лыжах на трассах одного из самых крупных горнолыжных регионов Европы.

                        p И если первое трудностей не вызывает, то второе поднимает целый ряд вопросов – какой курорт выбрать, где остановиться, какие трассы предпочесть? Но хитрые итальянцы и тут подсуетились и объединили с помощью фуникулеров и подъемников сразу несколько самых популярных курортов региона, проложив трассы вокруг горного массива Селла. Этот маршрут пользуется невероятной популярностью, как среди новичков, так и среди профессионалов и зовется в народе – фантастическая «карусель» Селла-Ронда.
                .col-12
                    img(src='img/illus/illus24.png')

                .col-lg-8.col-md-10
                    h3
                        span Подъем в горы
                    p Оказавшись на одном из курортов Доломитовых Альп, нужно непременно обзавестись абонементом Доломити супер-ски (Dolomiti super-ski). Он позволяет пользоваться 496 подъемниками 12 горнолыжных курортов Доломитовых Альп.

                    p Кроме горнолыжных радостей, Доломитовые Альпы известны своими средневековыми замками, возвышающимися над живописными долинами, и уникальной культурой ладинов – немногочисленного народа, издавна живущего в Альпах и сохранившего свою самобытность и язык. Практически во всех деревушках Доломитов проводятся ладинские фестивали, где можно отведать национальные блюда и напитки этого народа и обзавестись уникальным сувениром.

                    blockquote Абонемент Dolomiti super-ski позволяет пользоваться 496 подъемниками 12 горнолыжных курортов Доломитовых Альп
                    p Доломитовые Альпы хранят и следы военной истории – у подножия Lagazuoi можно посетить музей под открытым небом, посвященный событиям Первой мировой войны. Система тоннелей для закладки взрывчатки здесь сохранилась до сих пор.

                .col-12
                    .slider-full.slider.slider-gallery
                        .slide
                            .slide-image
                                img(src='img/illus/illus10.png' title='' alt='')
                        .slide
                            .slide-image
                                img(src='img/illus/illus11.png' title='' alt='')
                        .slide
                            .slide-image
                                img(src='img/illus/illus12.png' title='' alt='')

                .col-lg-8.col-md-10
                    h3
                        span Катание на лыжах
                    p За альпийскими деликатесами лучше всего отправляться на гору Санта-Кроче, где в таверне, расположившейся в здании средневековой церкви, угощают вкуснейшими сладостями и отогревают горячим глинтвейном.

                    p С приходом теплых дней здешние курорты не засыпают. Лыжники даже летом могут кататься на ледниках самой высокой точки Доломитов под названием Мармолада. А все остальные меняют лыжные костюмы на ветровки и отправляются на пешие или велосипедные прогулки по живописным тропам, изредка останавливаясь на пикники и привалы на заливных альпийских лугах.

                .col-lg-8.col-md-10
                    .share-block
                        p Мне так понравилось, что хочу срочно
                        .button-share
                            span Поделиться
                            span.hidden Спасибо
                            ul
                                li
                                    a(href='//facebook.com/')
                                        include svgs/facebook.svg
                                li
                                    a(href='//instagram.com/')
                                        include svgs/instagram.svg

                                li
                                    a(href='//telegram.com/')
                                        include svgs/telegram.svg

                                li
                                    a(href='//twitter.com/')
                                        include svgs/twitter.svg

    section
        .container
            .row
                .col-12
                    h2 Популярное сегодня
                    a(href='blog.html' title='').link-blog-all Все статьи
                        include svgs/angle-right-blue.svg
                .col-md-6
                    a(href='blogin.html' title='').blog-block
                        .blog-block--image
                            img(src='img/illus/illus1.png' title='' alt='')
                        .blog-block--text
                            h3 По фьордам на каяках: подготовка к путешествию и экипировка
                            p Всё чаще сегодня можно увидеть людей, плавающих по водоёмам на небольших лодочках, и по лицам которых можно сразу же понять, что они получают истинное удовольствие от того, чем занимаются. Но с чего начинать?
                        .blog-block--panel
                            .blog-block--panel-left
                                ul.blog-panel
                                    li
                                        img(src='img/icons/calendar.svg')
                                        | 11/11/17
                                    li
                                        img(src='img/icons/eye.svg')
                                        | 1 101
                            .blog-block--panel-right
                                span.button.button-light Читать больше
                .col-md-6
                    a(href='blogin.html' title='').blog-block
                        .blog-block--image
                            img(src='img/illus/illus2.png' title='' alt='')
                        .blog-block--text
                            h3 По фьордам на каяках: подготовка к путешествию и экипировка
                            p Всё чаще сегодня можно увидеть людей, плавающих по водоёмам на небольших лодочках, и по лицам которых можно сразу же понять, что они получают истинное удовольствие от того, чем занимаются. Но с чего начинать?
                        .blog-block--panel
                            .blog-block--panel-left
                                ul.blog-panel
                                    li
                                        img(src='img/icons/calendar.svg')
                                        | 11/11/17
                                    li
                                        img(src='img/icons/eye.svg')
                                        | 1 101
                            .blog-block--panel-right
                                span.button.button-light Читать больше
                .col-12.visible-xs
                    a(href='blog.html' title='').link-blog-all.link-blog-all2 Все статьи
                        include svgs/angle-right-blue.svg


