//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Новости

block content

    include partials/_header-blog


    section
        .container
            .row
                .col-md-6
                    a(href='blogin.html' title='').blog-block
                        .blog-block--image
                            img(src='img/illus/illus1.png' title='' alt='')
                        .blog-block--text
                            h3 По фьордам на каяках: подготовка к путешествию и экипировка
                            p Всё чаще сегодня можно увидеть людей, плавающих по водоёмам на небольших лодочках, и по лицам которых можно сразу же понять, что они получают истинное удовольствие от того, чем занимаются. Но с чего начинать?
                        .blog-block--panel
                            .blog-block--panel-left
                                ul.blog-panel
                                    li
                                        img(src='img/icons/calendar.svg')
                                        | 11/11/17
                                    li
                                        img(src='img/icons/eye.svg')
                                        | 1 101
                            .blog-block--panel-right
                                span.button.button-light Читать больше
                .col-md-6
                    a(href='blogin.html' title='').blog-block
                        .blog-block--image
                            img(src='img/illus/illus2.png' title='' alt='')
                        .blog-block--text
                            h3 По фьордам на каяках: подготовка к путешествию и экипировка
                            p Всё чаще сегодня можно увидеть людей, плавающих по водоёмам на небольших лодочках, и по лицам которых можно сразу же понять, что они получают истинное удовольствие от того, чем занимаются. Но с чего начинать?
                        .blog-block--panel
                            .blog-block--panel-left
                                ul.blog-panel
                                    li
                                        img(src='img/icons/calendar.svg')
                                        | 11/11/17
                                    li
                                        img(src='img/icons/eye.svg')
                                        | 1 101
                            .blog-block--panel-right
                                span.button.button-light Читать больше
                .col-md-6
                    a(href='blogin.html' title='').blog-block
                        .blog-block--image
                            img(src='img/illus/illus1.png' title='' alt='')
                        .blog-block--text
                            h3 По фьордам на каяках: подготовка к путешествию и экипировка
                            p Всё чаще сегодня можно увидеть людей, плавающих по водоёмам на небольших лодочках, и по лицам которых можно сразу же понять, что они получают истинное удовольствие от того, чем занимаются. Но с чего начинать?
                        .blog-block--panel
                            .blog-block--panel-left
                                ul.blog-panel
                                    li
                                        img(src='img/icons/calendar.svg')
                                        | 11/11/17
                                    li
                                        img(src='img/icons/eye.svg')
                                        | 1 101
                            .blog-block--panel-right
                                span.button.button-light Читать больше
                .col-md-6
                    a(href='blogin.html' title='').blog-block
                        .blog-block--image
                            img(src='img/illus/illus2.png' title='' alt='')
                        .blog-block--text
                            h3 По фьордам на каяках: подготовка к путешествию и экипировка
                            p Всё чаще сегодня можно увидеть людей, плавающих по водоёмам на небольших лодочках, и по лицам которых можно сразу же понять, что они получают истинное удовольствие от того, чем занимаются. Но с чего начинать?
                        .blog-block--panel
                            .blog-block--panel-left
                                ul.blog-panel
                                    li
                                        img(src='img/icons/calendar.svg')
                                        | 11/11/17
                                    li
                                        img(src='img/icons/eye.svg')
                                        | 1 101
                            .blog-block--panel-right
                                span.button.button-light Читать больше
                .col-md-6
                    a(href='blogin.html' title='').blog-block
                        .blog-block--image
                            img(src='img/illus/illus1.png' title='' alt='')
                        .blog-block--text
                            h3 По фьордам на каяках: подготовка к путешествию и экипировка
                            p Всё чаще сегодня можно увидеть людей, плавающих по водоёмам на небольших лодочках, и по лицам которых можно сразу же понять, что они получают истинное удовольствие от того, чем занимаются. Но с чего начинать?
                        .blog-block--panel
                            .blog-block--panel-left
                                ul.blog-panel
                                    li
                                        img(src='img/icons/calendar.svg')
                                        | 11/11/17
                                    li
                                        img(src='img/icons/eye.svg')
                                        | 1 101
                            .blog-block--panel-right
                                span.button.button-light Читать больше
                .col-md-6
                    a(href='blogin.html' title='').blog-block
                        .blog-block--image
                            img(src='img/illus/illus2.png' title='' alt='')
                        .blog-block--text
                            h3 По фьордам на каяках: подготовка к путешествию и экипировка
                            p Всё чаще сегодня можно увидеть людей, плавающих по водоёмам на небольших лодочках, и по лицам которых можно сразу же понять, что они получают истинное удовольствие от того, чем занимаются. Но с чего начинать?
                        .blog-block--panel
                            .blog-block--panel-left
                                ul.blog-panel
                                    li
                                        img(src='img/icons/calendar.svg')
                                        | 11/11/17
                                    li
                                        img(src='img/icons/eye.svg')
                                        | 1 101
                            .blog-block--panel-right
                                span.button.button-light Читать больше
                .col-md-6
                    a(href='blogin.html' title='').blog-block
                        .blog-block--image
                            img(src='img/illus/illus1.png' title='' alt='')
                        .blog-block--text
                            h3 По фьордам на каяках: подготовка к путешествию и экипировка
                            p Всё чаще сегодня можно увидеть людей, плавающих по водоёмам на небольших лодочках, и по лицам которых можно сразу же понять, что они получают истинное удовольствие от того, чем занимаются. Но с чего начинать?
                        .blog-block--panel
                            .blog-block--panel-left
                                ul.blog-panel
                                    li
                                        img(src='img/icons/calendar.svg')
                                        | 11/11/17
                                    li
                                        img(src='img/icons/eye.svg')
                                        | 1 101
                            .blog-block--panel-right
                                span.button.button-light Читать больше
                .col-md-6
                    a(href='blogin.html' title='').blog-block
                        .blog-block--image
                            img(src='img/illus/illus2.png' title='' alt='')
                        .blog-block--text
                            h3 По фьордам на каяках: подготовка к путешествию и экипировка
                            p Всё чаще сегодня можно увидеть людей, плавающих по водоёмам на небольших лодочках, и по лицам которых можно сразу же понять, что они получают истинное удовольствие от того, чем занимаются. Но с чего начинать?
                        .blog-block--panel
                            .blog-block--panel-left
                                ul.blog-panel
                                    li
                                        img(src='img/icons/calendar.svg')
                                        | 11/11/17
                                    li
                                        img(src='img/icons/eye.svg')
                                        | 1 101
                            .blog-block--panel-right
                                span.button.button-light Читать больше

            .row.justify-content-center
                .col-md-4.col-lg-3.xol-xl-2
                    a(href='#' title='').button.button-light.button-blog Показать еще

            include partials/_pagination

