//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | FAQ

block content

    include partials/_header-faq


    section
        .container
            .row.justify-content-center
                .col-lg-10


                    #accordion.accordion
                        .accordion-item
                            .accordion-item--head
                                h6 Что делать при утере загранпаспорта с визой?
                            article.accordion-item--content
                                p Документы, которые необходимо взять с собой в поездку: загран. паспорт, страховка. Если едет ребёнок: -нотариально заверенное разрешение на вывоз ребёнка от второго родителя или от обеих родителей (если не едут),  детский проездной документ.  Другие документы, которые Вам выдаст менеджер перед поездкой: ваучер на поселение в отель(или копия), программа тура, памятка туристу. Ваучер – документ, подтверждающий Вашу бронь отеля, которую необходимо предъявить при поселении (в случае группового тура, ваучер на поселение находится у гида).
                        .accordion-item
                            .accordion-item--head
                                h6 К кому обращаться в случае форс-мажорных ситуаций?
                            article.accordion-item--content
                                p Документы, которые необходимо взять с собой в поездку: загран. паспорт, страховка. Если едет ребёнок: -нотариально заверенное разрешение на вывоз ребёнка от второго родителя или от обеих родителей (если не едут),  детский проездной документ.  Другие документы, которые Вам выдаст менеджер перед поездкой: ваучер на поселение в отель(или копия), программа тура, памятка туристу. Ваучер – документ, подтверждающий Вашу бронь отеля, которую необходимо предъявить при поселении (в случае группового тура, ваучер на поселение находится у гида).
                        .accordion-item
                            .accordion-item--head
                                h6 Какие документы брать с собой в поездку?
                            article.accordion-item--content
                                p Документы, которые необходимо взять с собой в поездку: загран. паспорт, страховка. Если едет ребёнок: -нотариально заверенное разрешение на вывоз ребёнка от второго родителя или от обеих родителей (если не едут),  детский проездной документ.  Другие документы, которые Вам выдаст менеджер перед поездкой: ваучер на поселение в отель(или копия), программа тура, памятка туристу. Ваучер – документ, подтверждающий Вашу бронь отеля, которую необходимо предъявить при поселении (в случае группового тура, ваучер на поселение находится у гида).
                                ul
                                    li Первое
                                    li Второе
                                    li Третье
                                ol
                                    li Первое
                                    li Второе
                                    li Третье
                        .accordion-item
                            .accordion-item--head
                                h6 Можно ли продлить пребывание в стране путешествия?
                            article.accordion-item--content
                                p Документы, которые необходимо взять с собой в поездку: загран. паспорт, страховка. Если едет ребёнок: -нотариально заверенное разрешение на вывоз ребёнка от второго родителя или от обеих родителей (если не едут),  детский проездной документ.  Другие документы, которые Вам выдаст менеджер перед поездкой: ваучер на поселение в отель(или копия), программа тура, памятка туристу. Ваучер – документ, подтверждающий Вашу бронь отеля, которую необходимо предъявить при поселении (в случае группового тура, ваучер на поселение находится у гида).
                        .accordion-item
                            .accordion-item--head
                                h6 Что необходимо брать с собой в поездку?
                            article.accordion-item--content
                                p Документы, которые необходимо взять с собой в поездку: загран. паспорт, страховка. Если едет ребёнок: -нотариально заверенное разрешение на вывоз ребёнка от второго родителя или от обеих родителей (если не едут),  детский проездной документ.  Другие документы, которые Вам выдаст менеджер перед поездкой: ваучер на поселение в отель(или копия), программа тура, памятка туристу. Ваучер – документ, подтверждающий Вашу бронь отеля, которую необходимо предъявить при поселении (в случае группового тура, ваучер на поселение находится у гида).
                        .accordion-item
                            .accordion-item--head
                                h6 Какие документы необходимо подавать на визу?
                            article.accordion-item--content
                                p Документы, которые необходимо взять с собой в поездку: загран. паспорт, страховка. Если едет ребёнок: -нотариально заверенное разрешение на вывоз ребёнка от второго родителя или от обеих родителей (если не едут),  детский проездной документ.  Другие документы, которые Вам выдаст менеджер перед поездкой: ваучер на поселение в отель(или копия), программа тура, памятка туристу. Ваучер – документ, подтверждающий Вашу бронь отеля, которую необходимо предъявить при поселении (в случае группового тура, ваучер на поселение находится у гида).
                        .accordion-item
                            .accordion-item--head
                                h6 Как происходит оплата тура?
                            article.accordion-item--content
                                p Документы, которые необходимо взять с собой в поездку: загран. паспорт, страховка. Если едет ребёнок: -нотариально заверенное разрешение на вывоз ребёнка от второго родителя или от обеих родителей (если не едут),  детский проездной документ.  Другие документы, которые Вам выдаст менеджер перед поездкой: ваучер на поселение в отель(или копия), программа тура, памятка туристу. Ваучер – документ, подтверждающий Вашу бронь отеля, которую необходимо предъявить при поселении (в случае группового тура, ваучер на поселение находится у гида).
                        .accordion-item
                            .accordion-item--head
                                h6 Что делать при утере загранпаспорта с визой?
                            article.accordion-item--content
                                p Документы, которые необходимо взять с собой в поездку: загран. паспорт, страховка. Если едет ребёнок: -нотариально заверенное разрешение на вывоз ребёнка от второго родителя или от обеих родителей (если не едут),  детский проездной документ.  Другие документы, которые Вам выдаст менеджер перед поездкой: ваучер на поселение в отель(или копия), программа тура, памятка туристу. Ваучер – документ, подтверждающий Вашу бронь отеля, которую необходимо предъявить при поселении (в случае группового тура, ваучер на поселение находится у гида).
                        .accordion-item
                            .accordion-item--head
                                h6 К кому обращаться в случае форс-мажорных ситуаций?
                            article.accordion-item--content
                                p Документы, которые необходимо взять с собой в поездку: загран. паспорт, страховка. Если едет ребёнок: -нотариально заверенное разрешение на вывоз ребёнка от второго родителя или от обеих родителей (если не едут),  детский проездной документ.  Другие документы, которые Вам выдаст менеджер перед поездкой: ваучер на поселение в отель(или копия), программа тура, памятка туристу. Ваучер – документ, подтверждающий Вашу бронь отеля, которую необходимо предъявить при поселении (в случае группового тура, ваучер на поселение находится у гида).
                        .accordion-item
                            .accordion-item--head
                                h6 Какие документы брать с собой в поездку?
                            article.accordion-item--content
                                p Документы, которые необходимо взять с собой в поездку: загран. паспорт, страховка. Если едет ребёнок: -нотариально заверенное разрешение на вывоз ребёнка от второго родителя или от обеих родителей (если не едут),  детский проездной документ.  Другие документы, которые Вам выдаст менеджер перед поездкой: ваучер на поселение в отель(или копия), программа тура, памятка туристу. Ваучер – документ, подтверждающий Вашу бронь отеля, которую необходимо предъявить при поселении (в случае группового тура, ваучер на поселение находится у гида).


    include partials/_questions