//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Главная страница

block content

    include partials/_form-ticket

    section
        .container
            .row
                .col-12
                    .slider-full.slider.slider-main
                        .slide
                            .slide-image
                                img(src='img/slider-main/slide1.png' title='' alt='')
                            .slide-description
                                ul
                                    li Испания
                                    li 15 000 грн
                                p c 15 по 23 ноября
                                a(data-fancybox data-src="#modal-order" href="javascript:;" title='').button Заказать
                        .slide
                            .slide-image
                                img(src='img/slider-main/slide2.png' title='' alt='')
                            .slide-description
                                ul
                                    li Замбия
                                    li 15 000 грн
                                p c 15 по 23 ноября
                                a(data-fancybox data-src="#modal-order" href="javascript:;" title='').button Заказать
                        .slide
                            .slide-image
                                img(src='img/slider-main/slide3.png' title='' alt='')
                            .slide-description
                                ul
                                    li Молдова
                                    li 15 000 грн
                                p c 15 по 23 ноября
                                a(data-fancybox data-src="#modal-order" href="javascript:;" title='').button Заказать

    section
        .container.position-relative
            .row.row-advantage
                .col-12
                    h2 Преимущества работы с Агромат Тур
                .offset-lg-2.col-lg-4.offset-md-1.col-md-5.col-sm-6
                    .advantage-block
                        .advantage-block--image
                            img(src='img/icons/advantage1.svg' title='' alt='')
                        .advantage-block--text
                            p Забота о комфорте  клиента полная проработка путешествия
                .col-lg-4.col-md-5.col-sm-6
                    .advantage-block
                        .advantage-block--image
                            img(src='img/icons/advantage2.svg' title='' alt='')
                        .advantage-block--text
                            p Консультирование клиента по вопросам получения визы и въезда в страну
                .offset-lg-2.col-lg-4.offset-md-1.col-md-5.col-sm-6
                    .advantage-block
                        .advantage-block--image
                            img(src='img/icons/advantage3.svg' title='' alt='')
                        .advantage-block--text
                            p Подбор наиболее выгодного предложения для клиента
                .col-lg-4.col-md-5.col-sm-6
                    .advantage-block
                        .advantage-block--image
                            img(src='img/icons/advantage4.svg' title='' alt='')
                        .advantage-block--text
                            p Возможность осуществлять путешествия в любую точку земного шара
                .col-12
                    a(href='howitworks.html' title='').button.button-light.button-advantage Узнать больше про Агромат Тур

            img(src='img/planes/plane.svg').plane
            img(src='img/planes/vector1.png').vector

    section
        .container
            .row
                .col-12
                    h2 Популярное сегодня
                    a(href='blog.html' title='').link-blog-all Все статьи
                        include svgs/angle-right-blue.svg
                .col-md-6
                    a(href='blogin.html' title='').blog-block
                        .blog-block--image
                            img(src='img/illus/illus1.png' title='' alt='')
                        .blog-block--text
                            h3 По фьордам на каяках: подготовка  к путешествию и экипировка
                            p Всё чаще сегодня можно увидеть людей, плавающих по водоёмам на небольших лодочках, и по лицам которых можно сразу же понять, что они получают истинное удовольствие от того, чем занимаются. Но с чего начинать?
                        .blog-block--panel
                            .blog-block--panel-left
                                ul.blog-panel
                                    li
                                        img(src='img/icons/calendar.svg')
                                        | 11/11/17
                                    li
                                        img(src='img/icons/eye.svg')
                                        | 1 101
                            .blog-block--panel-right
                                span.button.button-light Читать больше
                .col-md-6
                    a(href='blogin.html' title='').blog-block
                        .blog-block--image
                            img(src='img/illus/illus2.png' title='' alt='')
                        .blog-block--text
                            h3 По фьордам на каяках: подготовка  к путешествию и экипировка
                            p Всё чаще сегодня можно увидеть людей, плавающих по водоёмам на небольших лодочках, и по лицам которых можно сразу же понять, что они получают истинное удовольствие от того, чем занимаются. Но с чего начинать?
                        .blog-block--panel
                            .blog-block--panel-left
                                ul.blog-panel
                                    li
                                        img(src='img/icons/calendar.svg')
                                        | 11/11/17
                                    li
                                        img(src='img/icons/eye.svg')
                                        | 1 101
                            .blog-block--panel-right
                                span.button.button-light Читать больше
                .col-12.visible-xs
                    a(href='blog.html' title='').link-blog-all.link-blog-all2 Все статьи
                        include svgs/angle-right-blue.svg

    include partials/_form-order

