//- layouts/layout.pug
extend layouts/_layout-tours.pug

block title
    | Туры

block content

    include partials/_header-country


    section
        .container
            .row.justify-content-center
                .col-md-10.col-lg-8
                    article
                        p Испания — страна разнообразная и многогранная, даже официально она разделена на автономные регионы. Каталония, которая уже много лет не теряет надежды отделиться от страны, знаменита своей столицей Барселоной с ее городскими пляжами и архитектурой Гауди.

                        p Южный регион — Андалусия — считается самой «испанской» Испанией. Здесь можно увидеть запрещенную в Каталонии корриду, фламенко и древние самобытные испанские города с историей: Севилью, Гранаду и родину Антонио Бандераса — Малагу.

                        p Валенсия знаменита своими самыми широкими в стране песчаными пляжами, а также аутентичной паэльей, куда добавляют фасоль. Ну, а в Стране Басков непременно стоит посетить Бильбао с его музеями и ресторанами, пляжно-серферский Сан-Себастьян и маленькие портовые городки на побережье, куда редко добираются другие туристы.


    section
        .container
            .row
                .col-12
                    h2 Туры в Испанию
                    a(href='tours.html' title='').link-blog-all Все туры
                        include svgs/angle-right-blue.svg
                .col-lg-4.col-sm-6.col-xl-3
                    a(href='tours-overview.html' title='').tour-block.tour-discount
                        .tour-block--top
                            .tour-block--top-image
                                img(src='img/illus/illus17.png' title='')
                            .tour-block--top-text
                                h5 Исландия,  Лавовые водопады
                                p Modern Mountain Resort
                                span
                                    | 5
                                    img(src='img/icons/star-blue.svg')

                        .tour-block--bottom
                            .tour-block--bottom-left
                                ul
                                    li
                                        include svgs/calendar.svg
                                    li от 5 дней
                            .tour-block--bottom-right
                                .tour-block--bottom-right--price-old
                                    | от 22 000 грн
                                .tour-block--bottom-right--price-new
                                    | от 12 000 грн
                                .tour-block--bottom-right--price-regular
                                    | от 12 000 грн

                        .tour-block--panel
                            .tour-block--panel-text
                                p Отель расположен на побережье Исландии, вблизи пляжа с черніми огромными глыбами. В 7 минутах езды — одна из главных остопримечательностей — лавовые водопады.
                            ul.tour-advantages
                                li
                                    .tour-image
                                        include svgs/beach.svg
                                    .tour-text
                                        | пляж
                                li
                                    .tour-image
                                        include svgs/visa.svg
                                    .tour-text
                                        | без визы
                                li
                                    .tour-image
                                        include svgs/food.svg
                                    .tour-text
                                        | all inclusive
                                li
                                    .tour-image
                                        include svgs/passive.svg
                                    .tour-text
                                        | пассивный
                            span.button.button-red Заказать
                .col-lg-4.col-sm-6.col-xl-3
                    a(href='tours-overview.html' title='').tour-block
                        .tour-block--top
                            .tour-block--top-image
                                img(src='img/illus/illus17.png' title='')
                            .tour-block--top-text
                                h5 Исландия,  Лавовые водопады
                                p Modern Mountain Resort
                                span
                                    | 5
                                    img(src='img/icons/star-blue.svg')

                        .tour-block--bottom
                            .tour-block--bottom-left
                                ul
                                    li
                                        include svgs/calendar.svg
                                    li от 5 дней
                            .tour-block--bottom-right
                                .tour-block--bottom-right--price-old
                                    | от 22 000 грн
                                .tour-block--bottom-right--price-new
                                    | от 12 000 грн
                                .tour-block--bottom-right--price-regular
                                    | от 12 000 грн

                        .tour-block--panel
                            .tour-block--panel-text
                                p Отель расположен на побережье Исландии, вблизи пляжа с черніми огромными глыбами. В 7 минутах езды — одна из главных остопримечательностей — лавовые водопады.
                            ul.tour-advantages
                                li
                                    .tour-image
                                        include svgs/beach.svg
                                    .tour-text
                                        | пляж
                                li
                                    .tour-image
                                        include svgs/visa.svg
                                    .tour-text
                                        | без визы
                                li
                                    .tour-image
                                        include svgs/food.svg
                                    .tour-text
                                        | all inclusive
                                li
                                    .tour-image
                                        include svgs/passive.svg
                                    .tour-text
                                        | пассивный
                            span.button.button-red Заказать
                .col-lg-4.col-sm-6.col-xl-3
                    a(href='tours-overview.html' title='').tour-block
                        .tour-block--top
                            .tour-block--top-image
                                img(src='img/illus/illus17.png' title='')
                            .tour-block--top-text
                                h5 Исландия,  Лавовые водопады
                                p Modern Mountain Resort
                                span
                                    | 5
                                    img(src='img/icons/star-blue.svg')

                        .tour-block--bottom
                            .tour-block--bottom-left
                                ul
                                    li
                                        include svgs/calendar.svg
                                    li от 5 дней
                            .tour-block--bottom-right
                                .tour-block--bottom-right--price-old
                                    | от 22 000 грн
                                .tour-block--bottom-right--price-new
                                    | от 12 000 грн
                                .tour-block--bottom-right--price-regular
                                    | от 12 000 грн

                        .tour-block--panel
                            .tour-block--panel-text
                                p Отель расположен на побережье Исландии, вблизи пляжа с черніми огромными глыбами. В 7 минутах езды — одна из главных остопримечательностей — лавовые водопады.
                            ul.tour-advantages
                                li
                                    .tour-image
                                        include svgs/beach.svg
                                    .tour-text
                                        | пляж
                                li
                                    .tour-image
                                        include svgs/visa.svg
                                    .tour-text
                                        | без визы
                                li
                                    .tour-image
                                        include svgs/food.svg
                                    .tour-text
                                        | all inclusive
                                li
                                    .tour-image
                                        include svgs/passive.svg
                                    .tour-text
                                        | пассивный
                            span.button.button-red Заказать


                .col-lg-4.col-sm-6.col-xl-3
                    a(href='tours-overview.html' title='').tour-block
                        .tour-block--top
                            .tour-block--top-image
                                img(src='img/illus/illus17.png' title='')
                            .tour-block--top-text
                                h5 Исландия,  Лавовые водопады
                                p Modern Mountain Resort
                                span
                                    | 5
                                    img(src='img/icons/star-blue.svg')

                        .tour-block--bottom
                            .tour-block--bottom-left
                                ul
                                    li
                                        include svgs/calendar.svg
                                    li от 5 дней
                            .tour-block--bottom-right
                                .tour-block--bottom-right--price-old
                                    | от 22 000 грн
                                .tour-block--bottom-right--price-new
                                    | от 12 000 грн
                                .tour-block--bottom-right--price-regular
                                    | от 12 000 грн

                        .tour-block--panel
                            .tour-block--panel-text
                                p Отель расположен на побережье Исландии, вблизи пляжа с черніми огромными глыбами. В 7 минутах езды — одна из главных остопримечательностей — лавовые водопады.
                            ul.tour-advantages
                                li
                                    .tour-image
                                        include svgs/beach.svg
                                    .tour-text
                                        | пляж
                                li
                                    .tour-image
                                        include svgs/visa.svg
                                    .tour-text
                                        | без визы
                                li
                                    .tour-image
                                        include svgs/food.svg
                                    .tour-text
                                        | all inclusive
                                li
                                    .tour-image
                                        include svgs/passive.svg
                                    .tour-text
                                        | пассивный
                            span.button.button-red Заказать
                .col-lg-4.col-sm-6.col-xl-3
                    a(href='tours-overview.html' title='').tour-block
                        .tour-block--top
                            .tour-block--top-image
                                img(src='img/illus/illus17.png' title='')
                            .tour-block--top-text
                                h5 Исландия,  Лавовые водопады
                                p Modern Mountain Resort
                                span
                                    | 5
                                    img(src='img/icons/star-blue.svg')

                        .tour-block--bottom
                            .tour-block--bottom-left
                                ul
                                    li
                                        include svgs/calendar.svg
                                    li от 5 дней
                            .tour-block--bottom-right
                                .tour-block--bottom-right--price-old
                                    | от 22 000 грн
                                .tour-block--bottom-right--price-new
                                    | от 12 000 грн
                                .tour-block--bottom-right--price-regular
                                    | от 12 000 грн

                        .tour-block--panel
                            .tour-block--panel-text
                                p Отель расположен на побережье Исландии, вблизи пляжа с черніми огромными глыбами. В 7 минутах езды — одна из главных остопримечательностей — лавовые водопады.
                            ul.tour-advantages
                                li
                                    .tour-image
                                        include svgs/beach.svg
                                    .tour-text
                                        | пляж
                                li
                                    .tour-image
                                        include svgs/visa.svg
                                    .tour-text
                                        | без визы
                                li
                                    .tour-image
                                        include svgs/food.svg
                                    .tour-text
                                        | all inclusive
                                li
                                    .tour-image
                                        include svgs/passive.svg
                                    .tour-text
                                        | пассивный
                            span.button.button-red Заказать
                .col-lg-4.col-sm-6.col-xl-3
                    a(href='tours-overview.html' title='').tour-block
                        .tour-block--top
                            .tour-block--top-image
                                img(src='img/illus/illus17.png' title='')
                            .tour-block--top-text
                                h5 Исландия,  Лавовые водопады
                                p Modern Mountain Resort
                                span
                                    | 5
                                    img(src='img/icons/star-blue.svg')

                        .tour-block--bottom
                            .tour-block--bottom-left
                                ul
                                    li
                                        include svgs/calendar.svg
                                    li от 5 дней
                            .tour-block--bottom-right
                                .tour-block--bottom-right--price-old
                                    | от 22 000 грн
                                .tour-block--bottom-right--price-new
                                    | от 12 000 грн
                                .tour-block--bottom-right--price-regular
                                    | от 12 000 грн

                        .tour-block--panel
                            .tour-block--panel-text
                                p Отель расположен на побережье Исландии, вблизи пляжа с черніми огромными глыбами. В 7 минутах езды — одна из главных остопримечательностей — лавовые водопады.
                            ul.tour-advantages
                                li
                                    .tour-image
                                        include svgs/beach.svg
                                    .tour-text
                                        | пляж
                                li
                                    .tour-image
                                        include svgs/visa.svg
                                    .tour-text
                                        | без визы
                                li
                                    .tour-image
                                        include svgs/food.svg
                                    .tour-text
                                        | all inclusive
                                li
                                    .tour-image
                                        include svgs/passive.svg
                                    .tour-text
                                        | пассивный
                            span.button.button-red Заказать


                .col-lg-4.col-sm-6.col-xl-3
                    a(href='tours-overview.html' title='').tour-block
                        .tour-block--top
                            .tour-block--top-image
                                img(src='img/illus/illus17.png' title='')
                            .tour-block--top-text
                                h5 Исландия,  Лавовые водопады
                                p Modern Mountain Resort
                                span
                                    | 5
                                    img(src='img/icons/star-blue.svg')

                        .tour-block--bottom
                            .tour-block--bottom-left
                                ul
                                    li
                                        include svgs/calendar.svg
                                    li от 5 дней
                            .tour-block--bottom-right
                                .tour-block--bottom-right--price-old
                                    | от 22 000 грн
                                .tour-block--bottom-right--price-new
                                    | от 12 000 грн
                                .tour-block--bottom-right--price-regular
                                    | от 12 000 грн

                        .tour-block--panel
                            .tour-block--panel-text
                                p Отель расположен на побережье Исландии, вблизи пляжа с черніми огромными глыбами. В 7 минутах езды — одна из главных остопримечательностей — лавовые водопады.
                            ul.tour-advantages
                                li
                                    .tour-image
                                        include svgs/beach.svg
                                    .tour-text
                                        | пляж
                                li
                                    .tour-image
                                        include svgs/visa.svg
                                    .tour-text
                                        | без визы
                                li
                                    .tour-image
                                        include svgs/food.svg
                                    .tour-text
                                        | all inclusive
                                li
                                    .tour-image
                                        include svgs/passive.svg
                                    .tour-text
                                        | пассивный
                            span.button.button-red Заказать
                .col-lg-4.col-sm-6.col-xl-3
                    a(href='tours-overview.html' title='').tour-block
                        .tour-block--top
                            .tour-block--top-image
                                img(src='img/illus/illus17.png' title='')
                            .tour-block--top-text
                                h5 Исландия,  Лавовые водопады
                                p Modern Mountain Resort
                                span
                                    | 5
                                    img(src='img/icons/star-blue.svg')

                        .tour-block--bottom
                            .tour-block--bottom-left
                                ul
                                    li
                                        include svgs/calendar.svg
                                    li от 5 дней
                            .tour-block--bottom-right
                                .tour-block--bottom-right--price-old
                                    | от 22 000 грн
                                .tour-block--bottom-right--price-new
                                    | от 12 000 грн
                                .tour-block--bottom-right--price-regular
                                    | от 12 000 грн

                        .tour-block--panel
                            .tour-block--panel-text
                                p Отель расположен на побережье Исландии, вблизи пляжа с черніми огромными глыбами. В 7 минутах езды — одна из главных остопримечательностей — лавовые водопады.
                            ul.tour-advantages
                                li
                                    .tour-image
                                        include svgs/beach.svg
                                    .tour-text
                                        | пляж
                                li
                                    .tour-image
                                        include svgs/visa.svg
                                    .tour-text
                                        | без визы
                                li
                                    .tour-image
                                        include svgs/food.svg
                                    .tour-text
                                        | all inclusive
                                li
                                    .tour-image
                                        include svgs/passive.svg
                                    .tour-text
                                        | пассивный
                            span.button.button-red Заказать

    section
        .container
            .row
                .col-12
                    h2 Больше об Испании
                    a(href='blogin.html' title='').link-blog-all Все статьи
                        include svgs/angle-right-blue.svg
                .col-md-6
                    a(href='tours-overview.html' title='').blog-block
                        .blog-block--image
                            img(src='img/illus/illus1.png' title='' alt='')
                        .blog-block--text
                            h3 По фьордам на каяках: подготовка  к путешествию и экипировка
                            p Всё чаще сегодня можно увидеть людей, плавающих по водоёмам на небольших лодочках, и по лицам которых можно сразу же понять, что они получают истинное удовольствие от того, чем занимаются. Но с чего начинать?
                        .blog-block--panel
                            .blog-block--panel-left
                                ul.blog-panel
                                    li
                                        img(src='img/icons/calendar.svg')
                                        | 11/11/17
                                    li
                                        img(src='img/icons/eye.svg')
                                        | 1 101
                            .blog-block--panel-right
                                span.button.button-light Читать больше
                .col-md-6
                    a(href='tours-overview.html' title='').blog-block
                        .blog-block--image
                            img(src='img/illus/illus2.png' title='' alt='')
                        .blog-block--text
                            h3 По фьордам на каяках: подготовка  к путешествию и экипировка
                            p Всё чаще сегодня можно увидеть людей, плавающих по водоёмам на небольших лодочках, и по лицам которых можно сразу же понять, что они получают истинное удовольствие от того, чем занимаются. Но с чего начинать?
                        .blog-block--panel
                            .blog-block--panel-left
                                ul.blog-panel
                                    li
                                        img(src='img/icons/calendar.svg')
                                        | 11/11/17
                                    li
                                        img(src='img/icons/eye.svg')
                                        | 1 101
                            .blog-block--panel-right
                                span.button.button-light Читать больше

                .col-12.visible-xs
                    a(href='blog.html' title='').link-blog-all.link-blog-all2 Все статьи
                        include svgs/angle-right-blue.svg



