//- layouts/layout.pug
extend layouts/_layout-tours.pug

block title
    | Туры

block content

    include partials/_form-tour



    section
        .container
            .row
                .col-lg-4.col-sm-6
                    a(href='tours-country.html' title='').tour-block.tour-discount
                        .tour-block--top
                            .tour-block--top-image
                                img(src='img/illus/illus17.png' title='')
                            .tour-block--top-text
                                h5 Исландия,  Лавовые водопады
                                p Modern Mountain Resort
                                span
                                    | 5
                                    img(src='img/icons/star-blue.svg')

                        .tour-block--bottom
                            .tour-block--bottom-left
                                ul
                                    li
                                        include svgs/calendar.svg
                                    li от 5 дней
                            .tour-block--bottom-right
                                .tour-block--bottom-right--price-old
                                    | от 22 000 грн
                                .tour-block--bottom-right--price-new
                                    | от 12 000 грн
                                .tour-block--bottom-right--price-regular
                                    | от 12 000 грн

                        .tour-block--panel
                            .tour-block--panel-text
                                p Отель расположен на побережье Исландии, вблизи пляжа с черніми огромными глыбами. В 7 минутах езды — одна из главных остопримечательностей — лавовые водопады.
                            ul.tour-advantages
                                li
                                    .tour-image
                                        include svgs/beach.svg
                                    .tour-text
                                        | пляж
                                li
                                    .tour-image
                                        include svgs/visa.svg
                                    .tour-text
                                        | без визы
                                li
                                    .tour-image
                                        include svgs/food.svg
                                    .tour-text
                                        | all inclusive
                                li
                                    .tour-image
                                        include svgs/passive.svg
                                    .tour-text
                                        | пассивный
                            span.button.button-red Заказать
                .col-lg-4.col-sm-6
                    a(href='tours-country.html' title='').tour-block
                        .tour-block--top
                            .tour-block--top-image
                                img(src='img/illus/illus17.png' title='')
                            .tour-block--top-text
                                h5 Исландия,  Лавовые водопады
                                p Modern Mountain Resort
                                span
                                    | 5
                                    img(src='img/icons/star-blue.svg')

                        .tour-block--bottom
                            .tour-block--bottom-left
                                ul
                                    li
                                        include svgs/calendar.svg
                                    li от 5 дней
                            .tour-block--bottom-right
                                .tour-block--bottom-right--price-old
                                    | от 22 000 грн
                                .tour-block--bottom-right--price-new
                                    | от 12 000 грн
                                .tour-block--bottom-right--price-regular
                                    | от 12 000 грн

                        .tour-block--panel
                            .tour-block--panel-text
                                p Отель расположен на побережье Исландии, вблизи пляжа с черніми огромными глыбами. В 7 минутах езды — одна из главных остопримечательностей — лавовые водопады.
                            ul.tour-advantages
                                li
                                    .tour-image
                                        include svgs/beach.svg
                                    .tour-text
                                        | пляж
                                li
                                    .tour-image
                                        include svgs/visa.svg
                                    .tour-text
                                        | без визы
                                li
                                    .tour-image
                                        include svgs/food.svg
                                    .tour-text
                                        | all inclusive
                                li
                                    .tour-image
                                        include svgs/passive.svg
                                    .tour-text
                                        | пассивный
                            span.button.button-red Заказать
                .col-lg-4.col-sm-6
                    a(href='tours-country.html' title='').tour-block
                        .tour-block--top
                            .tour-block--top-image
                                img(src='img/illus/illus17.png' title='')
                            .tour-block--top-text
                                h5 Исландия,  Лавовые водопады
                                p Modern Mountain Resort
                                span
                                    | 5
                                    img(src='img/icons/star-blue.svg')

                        .tour-block--bottom
                            .tour-block--bottom-left
                                ul
                                    li
                                        include svgs/calendar.svg
                                    li от 5 дней
                            .tour-block--bottom-right
                                .tour-block--bottom-right--price-old
                                    | от 22 000 грн
                                .tour-block--bottom-right--price-new
                                    | от 12 000 грн
                                .tour-block--bottom-right--price-regular
                                    | от 12 000 грн

                        .tour-block--panel
                            .tour-block--panel-text
                                p Отель расположен на побережье Исландии, вблизи пляжа с черніми огромными глыбами. В 7 минутах езды — одна из главных остопримечательностей — лавовые водопады.
                            ul.tour-advantages
                                li
                                    .tour-image
                                        include svgs/beach.svg
                                    .tour-text
                                        | пляж
                                li
                                    .tour-image
                                        include svgs/visa.svg
                                    .tour-text
                                        | без визы
                                li
                                    .tour-image
                                        include svgs/food.svg
                                    .tour-text
                                        | all inclusive
                                li
                                    .tour-image
                                        include svgs/passive.svg
                                    .tour-text
                                        | пассивный
                            span.button.button-red Заказать


                .col-lg-4.col-sm-6
                    a(href='tours-country.html' title='').tour-block
                        .tour-block--top
                            .tour-block--top-image
                                img(src='img/illus/illus17.png' title='')
                            .tour-block--top-text
                                h5 Исландия,  Лавовые водопады
                                p Modern Mountain Resort
                                span
                                    | 5
                                    img(src='img/icons/star-blue.svg')

                        .tour-block--bottom
                            .tour-block--bottom-left
                                ul
                                    li
                                        include svgs/calendar.svg
                                    li от 5 дней
                            .tour-block--bottom-right
                                .tour-block--bottom-right--price-old
                                    | от 22 000 грн
                                .tour-block--bottom-right--price-new
                                    | от 12 000 грн
                                .tour-block--bottom-right--price-regular
                                    | от 12 000 грн

                        .tour-block--panel
                            .tour-block--panel-text
                                p Отель расположен на побережье Исландии, вблизи пляжа с черніми огромными глыбами. В 7 минутах езды — одна из главных остопримечательностей — лавовые водопады.
                            ul.tour-advantages
                                li
                                    .tour-image
                                        include svgs/beach.svg
                                    .tour-text
                                        | пляж
                                li
                                    .tour-image
                                        include svgs/visa.svg
                                    .tour-text
                                        | без визы
                                li
                                    .tour-image
                                        include svgs/food.svg
                                    .tour-text
                                        | all inclusive
                                li
                                    .tour-image
                                        include svgs/passive.svg
                                    .tour-text
                                        | пассивный
                            span.button.button-red Заказать
                .col-lg-4.col-sm-6
                    a(href='tours-country.html' title='').tour-block
                        .tour-block--top
                            .tour-block--top-image
                                img(src='img/illus/illus17.png' title='')
                            .tour-block--top-text
                                h5 Исландия,  Лавовые водопады
                                p Modern Mountain Resort
                                span
                                    | 5
                                    img(src='img/icons/star-blue.svg')

                        .tour-block--bottom
                            .tour-block--bottom-left
                                ul
                                    li
                                        include svgs/calendar.svg
                                    li от 5 дней
                            .tour-block--bottom-right
                                .tour-block--bottom-right--price-old
                                    | от 22 000 грн
                                .tour-block--bottom-right--price-new
                                    | от 12 000 грн
                                .tour-block--bottom-right--price-regular
                                    | от 12 000 грн

                        .tour-block--panel
                            .tour-block--panel-text
                                p Отель расположен на побережье Исландии, вблизи пляжа с черніми огромными глыбами. В 7 минутах езды — одна из главных остопримечательностей — лавовые водопады.
                            ul.tour-advantages
                                li
                                    .tour-image
                                        include svgs/beach.svg
                                    .tour-text
                                        | пляж
                                li
                                    .tour-image
                                        include svgs/visa.svg
                                    .tour-text
                                        | без визы
                                li
                                    .tour-image
                                        include svgs/food.svg
                                    .tour-text
                                        | all inclusive
                                li
                                    .tour-image
                                        include svgs/passive.svg
                                    .tour-text
                                        | пассивный
                            span.button.button-red Заказать
                .col-lg-4.col-sm-6
                    a(href='tours-country.html' title='').tour-block
                        .tour-block--top
                            .tour-block--top-image
                                img(src='img/illus/illus17.png' title='')
                            .tour-block--top-text
                                h5 Исландия,  Лавовые водопады
                                p Modern Mountain Resort
                                span
                                    | 5
                                    img(src='img/icons/star-blue.svg')

                        .tour-block--bottom
                            .tour-block--bottom-left
                                ul
                                    li
                                        include svgs/calendar.svg
                                    li от 5 дней
                            .tour-block--bottom-right
                                .tour-block--bottom-right--price-old
                                    | от 22 000 грн
                                .tour-block--bottom-right--price-new
                                    | от 12 000 грн
                                .tour-block--bottom-right--price-regular
                                    | от 12 000 грн

                        .tour-block--panel
                            .tour-block--panel-text
                                p Отель расположен на побережье Исландии, вблизи пляжа с черніми огромными глыбами. В 7 минутах езды — одна из главных остопримечательностей — лавовые водопады.
                            ul.tour-advantages
                                li
                                    .tour-image
                                        include svgs/beach.svg
                                    .tour-text
                                        | пляж
                                li
                                    .tour-image
                                        include svgs/visa.svg
                                    .tour-text
                                        | без визы
                                li
                                    .tour-image
                                        include svgs/food.svg
                                    .tour-text
                                        | all inclusive
                                li
                                    .tour-image
                                        include svgs/passive.svg
                                    .tour-text
                                        | пассивный
                            span.button.button-red Заказать


                .col-lg-4.col-sm-6
                    a(href='tours-country.html' title='').tour-block
                        .tour-block--top
                            .tour-block--top-image
                                img(src='img/illus/illus17.png' title='')
                            .tour-block--top-text
                                h5 Исландия,  Лавовые водопады
                                p Modern Mountain Resort
                                span
                                    | 5
                                    img(src='img/icons/star-blue.svg')

                        .tour-block--bottom
                            .tour-block--bottom-left
                                ul
                                    li
                                        include svgs/calendar.svg
                                    li от 5 дней
                            .tour-block--bottom-right
                                .tour-block--bottom-right--price-old
                                    | от 22 000 грн
                                .tour-block--bottom-right--price-new
                                    | от 12 000 грн
                                .tour-block--bottom-right--price-regular
                                    | от 12 000 грн

                        .tour-block--panel
                            .tour-block--panel-text
                                p Отель расположен на побережье Исландии, вблизи пляжа с черніми огромными глыбами. В 7 минутах езды — одна из главных остопримечательностей — лавовые водопады.
                            ul.tour-advantages
                                li
                                    .tour-image
                                        include svgs/beach.svg
                                    .tour-text
                                        | пляж
                                li
                                    .tour-image
                                        include svgs/visa.svg
                                    .tour-text
                                        | без визы
                                li
                                    .tour-image
                                        include svgs/food.svg
                                    .tour-text
                                        | all inclusive
                                li
                                    .tour-image
                                        include svgs/passive.svg
                                    .tour-text
                                        | пассивный
                            span.button.button-red Заказать
                .col-lg-4.col-sm-6
                    a(href='tours-country.html' title='').tour-block
                        .tour-block--top
                            .tour-block--top-image
                                img(src='img/illus/illus17.png' title='')
                            .tour-block--top-text
                                h5 Исландия,  Лавовые водопады
                                p Modern Mountain Resort
                                span
                                    | 5
                                    img(src='img/icons/star-blue.svg')

                        .tour-block--bottom
                            .tour-block--bottom-left
                                ul
                                    li
                                        include svgs/calendar.svg
                                    li от 5 дней
                            .tour-block--bottom-right
                                .tour-block--bottom-right--price-old
                                    | от 22 000 грн
                                .tour-block--bottom-right--price-new
                                    | от 12 000 грн
                                .tour-block--bottom-right--price-regular
                                    | от 12 000 грн

                        .tour-block--panel
                            .tour-block--panel-text
                                p Отель расположен на побережье Исландии, вблизи пляжа с черніми огромными глыбами. В 7 минутах езды — одна из главных остопримечательностей — лавовые водопады.
                            ul.tour-advantages
                                li
                                    .tour-image
                                        include svgs/beach.svg
                                    .tour-text
                                        | пляж
                                li
                                    .tour-image
                                        include svgs/visa.svg
                                    .tour-text
                                        | без визы
                                li
                                    .tour-image
                                        include svgs/food.svg
                                    .tour-text
                                        | all inclusive
                                li
                                    .tour-image
                                        include svgs/passive.svg
                                    .tour-text
                                        | пассивный
                            span.button.button-red Заказать
                .col-lg-4.col-sm-6
                    a(href='tours-country.html' title='').tour-block
                        .tour-block--top
                            .tour-block--top-image
                                img(src='img/illus/illus17.png' title='')
                            .tour-block--top-text
                                h5 Исландия,  Лавовые водопады
                                p Modern Mountain Resort
                                span
                                    | 5
                                    img(src='img/icons/star-blue.svg')

                        .tour-block--bottom
                            .tour-block--bottom-left
                                ul
                                    li
                                        include svgs/calendar.svg
                                    li от 5 дней
                            .tour-block--bottom-right
                                .tour-block--bottom-right--price-old
                                    | от 22 000 грн
                                .tour-block--bottom-right--price-new
                                    | от 12 000 грн
                                .tour-block--bottom-right--price-regular
                                    | от 12 000 грн

                        .tour-block--panel
                            .tour-block--panel-text
                                p Отель расположен на побережье Исландии, вблизи пляжа с черніми огромными глыбами. В 7 минутах езды — одна из главных остопримечательностей — лавовые водопады.
                            ul.tour-advantages
                                li
                                    .tour-image
                                        include svgs/beach.svg
                                    .tour-text
                                        | пляж
                                li
                                    .tour-image
                                        include svgs/visa.svg
                                    .tour-text
                                        | без визы
                                li
                                    .tour-image
                                        include svgs/food.svg
                                    .tour-text
                                        | all inclusive
                                li
                                    .tour-image
                                        include svgs/passive.svg
                                    .tour-text
                                        | пассивный
                            span.button.button-red Заказать

            .row.justify-content-center
                .col-md-4.col-lg-3.xol-xl-2
                    a(href='#' title='').button.button-light.button-blog Показать еще

            include partials/_pagination

