@import "../../utilities/vars"
@import "../../utilities/mixins"

button
  border none
  cursor pointer
  transitions()
  &:focus
    outline none

.button
  cursor pointer
  display block
  max-width 165px
  width 100%
  text-align center

  background $blue-darkback
  color $white

  padding-top: 14px;
  padding-bottom: 14px;

  letter-spacing: 2.6px;
  font-size $s18

  transitions()

  &:hover
    color $blue-darkback
    background $blue-back2

  +mobile()
    font-size: $s22
    font-weight: bold;
    letter-spacing: 2px;

.button-switch
  position absolute
  z-index 9998
  right: -17px;
  top: 9px;
  display block
  +mobile()
    right 17px
    top auto
    bottom -24px
    img
      width 37px
      transform rotate(270deg)

.button-light
  max-width 320px
  font-size: $s17
  font-weight: bold;
  letter-spacing: 0.7px;
  color: $blue-darkback
  background $blue-back2
  &:hover
    background $blue-darkback
    color $white
  +mobile()
    font-size: $s20
    letter-spacing: 2px;
    max-width unset


.button-advantage
  margin: 52px auto 8px;
  +mobile()
    margin-top 10px

.button-blog
  margin 0 auto 40px
  +mobile()
    background #000FCF
    color $white
    margin-bottom 48px