@import "../../utilities/vars"
@import "../../utilities/mixins"

button
  border none
  cursor pointer
  transitions()
  &:focus
    outline none

.button
  display block
  max-width 165px
  width 100%
  text-align center

  background $blue-darkback
  color $white

  padding-top: 14px;
  padding-bottom: 14px;

  letter-spacing: 2.6px;
  font-size $s18

  transitions()

  &:hover
    color $blue-darkback
    background $blue-back2

.button-switch
  position absolute
  z-index 9998
  right: -17px;
  top: 9px;

.button-light
  max-width 320px
  font-size: $s17
  font-weight: bold;
  letter-spacing: 0.7px;
  color: $blue-darkback
  background $blue-back2
  &:hover
    background $blue-darkback
    color $white


.button-advantage
  margin: 89px auto 8px;