@import '../../utilities/vars'
@import '../../utilities/mixins'


.img-responsive
  width 100%

.img-country
  position absolute
  top -24px
  right 15px
  max-width 100%
  +mobile()
    max-width calc(100% - 30px)
    right 15px
    left 15px
  +portrait()
    top: 100px;
  +landscape()
    top auto
    bottom 40px

.img-404
  margin 0 auto 5px
  display block



.vector, .plane
  position absolute
  +mobile()
    display none

.vector
  bottom -127px
  left 15px
  right 15px
  z-index 1
  +portrait()
    max-width 100%
  +tablet()
    max-width 100%

.vector2
  bottom: -72px;

.plane
  right 28px
  top 79px
  z-index 50

.plane2
  top 60px
  +tablet()
    top: 140px;
    right: 4px;
  +portrait()
    bottom: 226px;
    top: auto;
    right: -11px;

.plane3
  top -160px
  +tablet()
    top -80px
    right 0
  +portrait()
    top 10px
    right 0

.plane4
  top: -52px;
  +tablet()
    top: 30px;
    right: 5px;