@import "../../utilities/vars"
@import "../../utilities/mixins"

a
  text-decoration none
  transitions()
  &:hover
    text-decoration none
  &:focus
    text-decoration none
    outline none

.link-logo
  display block
  max-width 145px
  max-height 52px
  margin 4px 0
  svg
    width 100%
  &:hover
    opacity .5
  +mobile()
    max-width 109px
    max-height 40px
    margin 0
    svg
      height auto

.link-more-options
  display inline-block
  span
    font-size: $s14
    line-height: 1.07;
    color: $blue-darkback2
    text-decoration underline
    transitions()
    +portrait()
      font-size: .75rem;
    +mobile()
      font-size $s18
      font-weight: 700
  &:hover
    span
      text-decoration none
      color: $blue-darkback2
      opacity .5
  .visible
    display inline-block
  .hidden
    display none

.link-more-options.active
  .visible
    display none
  .hidden
    display inline-block

.link-blog-all
  color $blue-darkback
  font-size $s19
  position absolute
  right 15px
  top 9px
  svg
    margin-left 9px
    position relative
    top 3px
    transitions()
  +mobile()
    display none
  &:hover
    color $blue-darkback
    opacity .5
    svg
      transform translateX(5px)