@import "../../utilities/vars"
@import "../../utilities/mixins"

a
  text-decoration none
  transitions()
  &:hover
    text-decoration none
  &:focus
    text-decoration none
    outline none

.link-logo
  display block
  max-width 145px
  img
    width 100%