@import "../../utilities/vars"
@import "../../utilities/mixins"

a
  text-decoration none
  transitions()
  &:hover
    text-decoration none
  &:focus
    text-decoration none
    outline none

.link-logo
  display block
  max-width 145px
  margin 4px 0
  img
    width 100%
  &:hover
    opacity .5

.link-more-options
  font-size: $s14
  line-height: 1.07;
  color: $blue-darkback2
  text-decoration underline
  &:hover
    text-decoration none
    color: $blue-darkback2
    opacity .5

.link-blog-all
  color $blue-darkback
  font-size $s19
  position absolute
  right 15px
  top 9px
  img
    margin-left 9px
    margin-top -1px
  &:hover
    opacity .5