@import '../../utilities/vars'
@import '../../utilities/mixins'

ul
  padding 0
  margin 0
  li
    list-style none

ol
  padding 0
  margin 0

.ul-regular
  li
    padding-left 1rem
    position relative
    margin-bottom 1rem
    &:before
      pseudo(block, absolute)
      width 8px
      height 2px
      background $black
      top 9px
      left 0

.ul-filter
  list-flex(row)
  margin-bottom 1rem
  justify-content center
  li
    margin 1rem
    a
      padding 1rem
      background $black
      color $white
      &:hover
        color $black
        background $gray
    .active
      color $black
      background $gray

.ol-regular
  margin-left 1rem
  li
    margin-bottom 1rem

.ul-partners
  display flex
  flex-direction row
  justify-content center
  align-items center
  flex-wrap wrap
  li
    flex 1 1 16.666666%
    max-width 16.666666%
    text-align center
    margin-bottom 25px

    +displays()
      margin-bottom 0
    +tablet()
      flex 1 1 20%
      max-width 20%
    +portrait()
      flex 1 1 25%
      max-width 25%
    +mobile()
      flex 1 1 50%
      max-width 50%
      margin-bottom 42px

.ul-menu
  display flex
  justify-content center
  +portrait()
    float right
  +mobile()
    flex-wrap wrap
    margin-bottom 15px
  li
    background #6eadff
    margin 0 7px
    +portrait()
      margin 0 5px
    +mobile()
      margin-bottom 15px
    a
      display block
      padding 4px 20px
      border 1px solid rgba(255,255,255,0.5)
      font-size $s14
      color rgba(255,255,255,0.5)
      +portrait()
        padding-left 15px
        padding-right 15px
      +mobile()
        font-size 1.25rem
      &:hover
        background #a7cdff
        color $white
    .active
      background $white
      color: #000fcf;
      border-color $white
      &:hover
        background $white
        color: #000fcf

.ul-menu-tours
  margin-bottom 40px
  +portrait()
    float none
  +mobile()
    justify-content space-between
    margin-bottom 29px
  li
    margin 0 15px
    +mobile()
      margin 0
    a
      color #2d80eb
      border: solid 1px #2d80eb;
      min-width 165px
      text-align center
      background $white
      +mobile()
          max-width 130px
          min-width unset
      &:hover
        background #d6e8ff
        color #2d80eb


.ul-stars
  display flex
  li
    margin-right 23px

.ul-weather
  display flex
  padding 8px 0
  justify-content space-between
  +mobile()
    justify-content flex-start
    padding-bottom 28px
  li
    text-align center
    +mobile()
      margin-right 30px
    img, span
      margin 0 auto
      display block
    img
      margin-bottom 9px
    span
      opacity: .5
      font-size: $s22
      color: $white
