//  SECTION
//@import 'partials/section'
@import 'partials/volta'
@import 'partials/tickets'
@import 'partials/advantage'
@import 'partials/blog'
@import 'partials/howitworks'
@import 'partials/popular'
@import 'partials/tour'